
@{
    ViewBag.Title = "HandbookNhatrang";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-nhatrang">
                <p class="titlecontent">Handbook Nhatrang</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">Nha Trang, a coastal city located in the center of Khanh Hoa province, has long been one of the most popular tourist destinations in Vietnam. Gifted by nature with beautiful beaches, bays and many large and small islands, the city also possesses many landscapes, attractions, entertainment and resort facilities.</p>
            <p class="handbook-title-1 mt-3">What season is beautiful in Nha Trang?</p>
            <p class="handbook-content-1 mt-2">The climate in Nha Trang is relatively mild, with a dry season lasting from January to August, with no cold winters. Therefore, tourists can travel here all year round. From April to the end of June, it is sunny and hotter, but not too hot.</p>
            <p class="handbook-content-1 mt-2">In September, it starts to rain sporadically, so it doesn't affect tourists' fun activities too much. From October to December, it rains more, possibly accompanied by cold air. This is no longer the peak season for domestic tourism in Nha Trang, so it is suitable for tourists who want a quiet vacation.</p>
            @*<img src="~/Content/Images/Home/Handbook/Korea/korea-1.jpg" width="100%" />
        <p class="note-img">Korea in winter</p>*@

            <p class="handbook-title-1 mt-3">Move</p>
            <p class="handbook-content-1 mt-2">Currently, Vietnamese airlines such as Vietnam Airlines, Vietjet Air, Jetstar, all operate flights from Hanoi, Ho Chi Minh City to Nha Trang, via Cam Ranh airport. Bamboo Airways has flights from Hanoi. Ticket prices range from 1,400,000 VND to 2,500,000 VND.</p>
            <p class="handbook-content-1 mt-2">Cam Ranh Airport is about 35 km from the city center. There are taxi companies here that pick up passengers for about 300,000 VND per trip. In addition, visitors can use bus, route number 18, priced at 50,000 VND per trip.</p>
            <p class="handbook-content-1 mt-2">Nha Trang city is not too big, the main road runs along the beach, so visitors should rent a motorbike to visit, especially when they want to enjoy local cuisine. Motorbike rental costs about 100,000 - 150,000 VND. Usually hotels will provide this service.</p>

            <p class="handbook-title-1 mt-3">Hotels, resorts</p>
            <p class="handbook-content-1 mt-2">Tran Phu is the road running along the beach, there are many hotels for tourists to choose from. Some suggested hotels are Muong Thanh, Novotel, InterContinental Nha Trang, Sheraton Nha Trang, Lodge... With the advantage of being close to the beach and near the center, hotels on this road cost from 900,000 VND per night. More advanced is 2 - 3 million VND per night.</p>
            <p class="handbook-content-1 mt-2">To save costs, visitors can find hotels and homestays after Tran Phu. Specifically, Nguyen Thi Minh Khai, Hung Vuong or Nguyen Thien Thuat streets.</p>
            <p class="handbook-content-1 mt-2">For tourists who love resort travel, with private space, not close to the center, Amiana resort on Pham Van Dong street; Vinpearl Resort, Hon Tre or MerPerle are suitable choices.</p>

            <p class="handbook-title-1 mt-3">Cuisine</p>
            <p class="handbook-content-1 mt-2">In addition to seafood, the city also has many specialties and attractive dishes such as squid pancakes, grilled spring rolls, fish ball vermicelli, banh can, banh wet... Below are addresses and places to eat in Nha Trang. .</pclass="handbook-content-1>
            <img src="~/Content/Images/Home/Handbook/Nhatrang/nhatrang-1.jpg" width="100%" />
            <p class="note-img">Cuisine</p>

            <p class="handbook-title-1 mt-3">Discover</p>
            <p class="handbook-content-1 mt-2"><b>Sea and islands</b>: Nha Trang beach runs along the city, just walk from Tran Phu street to reach the beach. However, the most crowded place for bathing is in the area around Tram Huong tower. The city's beach is considered by many tourists to be clear, clean, and has fine golden sand.</p>
            <p class="handbook-content-1 mt-2"><b>Hon Mieu</b>: known as one of the most beautiful islands in the bay, located near the mainland. Here there is Tranh beach stretching nearly 500 m, with one side being fine white sand, the other side being a shallow beach with many small pebbles. The sea water here is clear blue, with a particularly gentle slope, suitable for swimming. Bai Tranh is also a gathering place for a series of games and marine sports such as jet skiing, parasailing, banana floats, flyboards...</p>
            <p class="handbook-content-1 mt-2"><b>Hon Chong</b>: on Pham Van Dong street, about 3 km northeast of the city center. This place is a complex of large rocks with all kinds of shapes, stacked on top of each other running from the high shore to the sea. This tourist destination is also one of the most beautiful places to see the coastal city, fresh air, and quiet.</p>
            <p class="handbook-content-1 mt-2"><b>Yen Island - Hon Noi</b>: 25 km from the port, famous for its wild and peaceful beauty. There are two beaches here, with a smooth, white sand beach with clear blue sea water on both sides. Visitors can see the entire seascape from the top of Du Ha mountain, with about 200 steps.</p>
            <p class="handbook-content-1 mt-2"><b>Museum of Oceanography</b>: Museum of Oceanography is part of the Nha Trang Institute of Oceanography, established in 1923, located at 1 Cau Da. The museum includes a marine animal farming area, a natural disaster area, an artificial mangrove forest, a large marine specimen area, marine research equipment and intangible resources.</p>
            <p class="handbook-content-1 mt-2"><b>Ponagar Tower</b>: This is a Champa temple located on top of a hill about 10 meters above sea level, at the mouth of the Cai River, now in Vinh Phuoc ward. This is one of the largest Champa cultural heritages in the country.</p>
            <p class="handbook-content-1 mt-2"><b>Co Tien Mountain</b>: Visitors to Nha Trang City, follow Pham Van Dong Street to the north, to Duong De area will see Co Tien Mountain in Vinh Hoa ward, made up of three adjacent peaks, ranging from 200 m to more than 300 m. The destination is about 10 km from the city center, and is often climbed by coastal residents for exercise or camping.</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>VinWonders Nha Trang Park</b>: This is an entertainment and resort area located on Hon Tre island, with a total area of ​​200,000 m2, connected to the mainland by a modern cable car system. The amusement park is divided into indoor, outdoor, water park, aquarium, performing arts area, ocean movie castle and food court.</p>
        </div>
    </div>
</div>