
@{
    ViewBag.Title = "HandbookAustralia";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-australia">
                <p class="titlecontent">Handbook Australia</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">Australia is a country located in the south of Asia, including the mainland island of Australia, the island of Tasmania and many other small islands. This country has an area of ​​about 7.7 million square kilometers, making it the sixth largest country in the world. It is also the smallest and least populated of the inhabited continents. With a diverse and rich biological system and unique culture, this country has become a "hunted" destination for many travel enthusiasts in recent times. Coming here, you will be fascinated by the unique and magnificent architectural works and countless new experiences.</p>
            <p class="handbook-title-1 mt-3">The ideal time to travel to Australia</p>
            <p class="handbook-content-1 mt-2">Australia is a country with different climates between regions, so there is no fixed time for you to explore this country. According to MIA.vn, if you want to explore coastal cities like Sydney, Melbourne, Brisbane or Perth, you should travel in spring (September - November) or autumn (March - May). . These are seasons with pleasant weather, not too hot or too cold and little rain. You can also avoid the tourist peak in the summer (December - February) because Australia is in peak tourist season at this time.</p>
            <p class="handbook-content-1 mt-2">If you want to enjoy the beautiful beaches and coral reefs of Northern Australia, such as Cairns, Townsville or Darwin, you should travel during the dry season (May - October). This time is sunny, with little rain and wind. You will also avoid the risk of poisonous jellyfish or tropical storms during the wet season (November - April). In addition, you can also consider coming here from June to August if you want to participate in activities such as skiing and mountain climbing in Southern Australia.</p>
            <img src="~/Content/Images/Home/Handbook/Australia/australia-1.jpg" width="100%" />
            <p class="note-img">Australia City</p>


            <p class="handbook-title-1 mt-3">Move</p>
            <p class="handbook-content-1 mt-2">The public transportation system in Australia is quite modern and popular, helping you easily move within and between cities. In particular, buses are the most popular public transport in Australia. The bus system is dense, with high travel frequency, operating from midnight until morning. You can easily catch the bus at stations or bus stops along the way. Besides buses, the subway is a modern and convenient public transport in Australia. Subway is fast, safe and cheap. You can travel by subway to travel between districts within the city or between neighboring cities.</p>
            <p class="handbook-content-1 mt-2">To use public transport in Australia, you need to buy an Opal card. The Opal card is a smart card used to pay fees when traveling by bus, subway or train. This type of card can be purchased at bus stations, subway stations or retail stores.</p>
            <img src="~/Content/Images/Home/Handbook/Australia/australia-2.jpg" width="100%" />
            <p class="note-img">Melbourne City</p>

            <p class="handbook-title-1 mt-3">Must-visit attractions</p>
            <p class="handbook-content-1 mt-2"><b>Legendary city of Sydney</b>: Sydney is the capital of the state of New South Wales. This is also the largest and most developed city in Australia. This place is known as the "city of dreams" and gradually becomes an attractive tourist destination for tourists around the world. Boasting a modern, bustling beauty, Sydney welcomes you with high-rise buildings, bustling commercial centers and vibrant neighborhoods.</p>
            <img src="~/Content/Images/Home/Handbook/Australia/australia-3.jpg" width="100%" />
            <p class="note-img">Sydney City</p>
            <p class="handbook-content-1 mt-2"><b>Melbourne is the most livable city in the world</b>: located on the shores of romantic Port Phillip Bay, Melbourne is the capital of Victoria state and Australia's second largest city. This place is known as one of the most livable cities in the world with a developed economy, clean green living environment and friendly people. Melbourne has the typical beauty of Australia, from classic architectural works to lush green gardens. However, what makes Melbourne even more special is its cultural and human diversity. If Sydney is modern and vibrant, Melbourne has something classic and peaceful. This city is like a colorful picture, a convergence of people from all over the world.</p>
            <img src="~/Content/Images/Home/Handbook/Australia/australia-4.jpg" width="100%" />
            <p class="note-img">Melbourne City</p>
            <p class="handbook-content-1 mt-2"><b>Conquering the Great Ocean Road</b>: Traveling to Australia without stopping by and conquering the Great Ocean Road would be a regret. Located along the southeastern coast of Australia, the Great Ocean Road is one of the most beautiful scenic drives in the world. Stretching more than 300km from Torquay town to Allansoford, this road gives you the opportunity to admire majestic and pristine natural scenery that is not found anywhere else. The highlight of the Great Ocean Road is the steep cliffs on the coast. Among them, the most famous is the Twelve Apostles, a complex of 12 towering cliffs formed by the erosion of ocean waves over millions of years.</p>
            <img src="~/Content/Images/Home/Handbook/Australia/australia-5.jpg" width="100%" />
            <p class="note-img">Great Ocean Road</p>
            <p class="handbook-content-1 mt-2"><b>Admire the wild beauty of Kimberley</b>: Kimberley is covered with rolling rocky mountains. You can participate in activities such as climbing, camping, boating... to explore the beauty of Kimberley nature. In particular, Kimberley is also famous for its strangely shaped stone towers. These towers were formed from the erosion of time and nature, creating an extremely unique and impressive natural scene. Kimberley is a wild but also very charming land. This place is an ideal destination for tourists who love to explore nature and experience new things.</p>
            <img src="~/Content/Images/Home/Handbook/Australia/australia-6.jpg" width="100%" />
            <p class="note-img">Kimberley</p>
            <p class="handbook-content-1 mt-2"><b>Visit the state of Tasmania</b>: located about 240km from mainland Australia, Tasmania is a beautiful island state, known as the "precious pearl" of this country. This place is blessed by nature with majestic, pristine natural landscapes along with unique cultural heritage. Tasmania is surrounded by rolling mountains, clear blue lakes and vast primeval forests. This place is a paradise for those who love exploring nature. You can participate in activities such as climbing, camping, boating,... to explore the beauty of Tasmanian nature.</p>
            <img src="~/Content/Images/Home/Handbook/Australia/australia-7.jpg" width="100%" />
            <p class="note-img">Tasmania</p>

            <p class="handbook-title-1 mt-3">What to eat when traveling to Australia?</p>
            <p>Australia is a multicultural country with the intersection of many different cuisines. This place not only has traditional indigenous dishes but also dishes with British and Asian influences and new dishes imported from all over the world. Here are some famous dishes that you must try:</p>
            <img src="~/Content/Images/Home/Handbook/Australia/australia-8.jpg" width="100%" />
            <p class="note-img">Australian Cuisine</p>
            <p class="handbook-content-1 mt-2"><b>Grilled Kangaroo meat</b>: this is a traditional Australian dish, made from Kangaroo meat, a red meat with a delicious and nutritious flavor.</p>
            <p class="handbook-content-1 mt-2"><b>Fried Chicken Parmigiana</b>: This dish is made from deep-fried breaded chicken, covered with tomato sauce and cheese.</p>
            <p class="handbook-content-1 mt-2"><b>Australian beef</b>: Australian beef is famous for its high quality and delicious taste. You can enjoy Australian beef processed into many different dishes.</p>
            <p class="handbook-content-1 mt-2"><b>Pavlova Cake</b>: famous Australian dessert, made from egg whites, cream and fresh fruit.</p>
            <p class="handbook-content-1 mt-2"><b>Bush Tucker bush food</b>: these are traditional Australian indigenous dishes, made from wild plants and animals.</p>
            <p class="handbook-content-1 mt-2"><b>Australian fingernail lemon</b>: this is a type of lemon with a mild sour taste and characteristic aroma. Australian fingernail lemons are often used to make drinks, desserts...</p>

            <p class="handbook-title-1 mt-3">Where to stay when coming to Australia?</p>
            <img src="~/Content/Images/Home/Handbook/Australia/australia-9.jpg" width="100%" />
            <p class="note-img">Hotel Australia</p>
            <p class="handbook-content-1 mt-2">- Some hotels you can refer to:</p>
            <p class="handbook-content-1 mt-2"><b>The Ritz-Carlton, Sydney</b>: 323 George Street, Sydney, NSW 2000, Australia.</p>
            <p class="handbook-content-1 mt-2"><b>The Langham, Melbourne</b>: 1 Southgate Avenue, Southbank, VIC 3006, Australia.</p>
            <p class="handbook-content-1 mt-2"><b>InterContinental Sydney Double Bay</b>: 163 New South Head Road, Double Bay, NSW 2028, Australia.</p>
            <p class="handbook-content-1 mt-2">- List of resorts in Australia:</p>
            <p class="handbook-content-1 mt-2"><b>The Lodge at Peppers, Port Douglas</b>: 135 Macrossan Street, Port Douglas, QLD 4870, Australia.</p>
            <p class="handbook-content-1 mt-2"><b>Peppers Hayman Island Resort</b>: Hayman Island, Whitsunday Islands, QLD 4870, Australia.</p>
            <p class="handbook-content-1 mt-2"><b>Emirates One&Only Wolgan Valley</b>: Wolgan Valley Road, Wolgan Valley, NSW 2770, Australia.</p>
            <p class="handbook-content-1 mt-2">- Affordable motels:</p>
            <p class="handbook-content-1 mt-2"><b>YHA Sydney City</b>: 283 Pitt Street, Sydney, NSW 2000, Australia.</p>
            <p class="handbook-content-1 mt-2"><b>YHA Melbourne City</b>: 275 Russell Street, Melbourne, VIC 3000, Australia.</p>
            <p class="handbook-content-1 mt-2"><b>YHA Cairns</b>: 29 Spence Street, Cairns, QLD 4870, Australia.</p>
            <p class="handbook-content-1 mt-2">- Homestays in Australia:</p>
            <p class="handbook-content-1 mt-2"><b>The Sydneysider</b>: 252 Elizabeth Street, Sydney, NSW 2000, Australia.</p>
            <p class="handbook-content-1 mt-2"><b>The Victorianer</b>: 147 Collins Street, Melbourne, VIC 3000, Australia.</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>The Sunshine Coaster</b>: 151 Alexandra Parade, Maroochydore, QLD 5443, Australia.</p>
        </div>
    </div>
</div>