
@{
    ViewBag.Title = "HandbookSaigon";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-saigon">
                <p class="titlecontent">Handbook Saigon</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">Ho Chi Minh City is a convergence of many cultures, with diverse tourism products, and is a "city that never sleeps" with vibrant entertainment activities day and night.</p>
            <p class="handbook-title-1 mt-3">Beautiful season</p>
            <p class="handbook-content-1 mt-2">Ho Chi Minh City is located in the sub-equatorial tropical monsoon region. The general characteristics of the weather here are consistently high temperatures throughout the year, with two distinct rainy and dry seasons. The rainy season is from May to November, the dry season is from December to April. The average temperature is about 27 degrees Celsius, the highest is over 40 degrees Celsius, but most of the time the sun is not harsh, the humidity is low, and cool in the afternoon. dark.</p>
            <p class="handbook-content-1 mt-2">The heat is not as harsh as the weather in the North, so visitors can visit the city at any time of the year. If you come during the rainy season, you should prepare an umbrella to avoid sudden showers.</p>
            <img src="~/Content/Images/Home/Handbook/Saigon/saigon-1.jpg" width="100%" />
            <p class="note-img">Saigon in hot season</p>

            <p class="handbook-title-1 mt-3">Move</p>
            <p class="handbook-content-1 mt-2">Traveling in the city is convenient, there are many means of transportation. Renting a motorbike is one of the most popular options. Most accommodations support car rentals, or search for rentals by address online, popular in the central area. The rental price per day depends on the type of car, ranging from 100,000 to 200,000 VND. Some places will require customers to deposit 1 to 4 million VND, some places will only need to save their identification documents.</p>
            <p class="handbook-content-1 mt-2">Public transportation is a reasonable choice when you want to save costs. Visitors can choose public buses or bicycles (within the central area). Public bicycles open in December 2021. Parking locations are located on the sidewalks of many roads in District 1, near stops, bus shelters, parks, tourist attractions... with prices of 5,000 VND for 30 minutes and 10,000 VND for 60 minutes.</p>

            <p class="handbook-title-1 mt-3">Accommodation</p>
            <p class="handbook-content-1 mt-2">Accommodation services in Ho Chi Minh City are diverse with a system of hotels, homestays, and serviced apartments, meeting the needs of tourists. You can find rooms with prices ranging from a few hundred thousand to tens of millions of dong per night.</p>
            <p class="handbook-content-1 mt-2">There are many 5-star hotels priced around 3-7 million VND such as Park Hyatt Saigon, Hotel Majestic Saigon, Hotel des Arts Saigon, Pullman Saigon Center, Hotel Nikko Saigon, Norfolk Mansion, La Vela Saigon.</p>
            <p class="handbook-content-1 mt-2">In the mid-range segment of 1-2 million VND, visitors can refer to hotels such as Wink Hotel Saigon Center, La Memoria Hotel, The Hammock Hotel Ben Thanh, Millennium Boutique Hotel, The Odys Boutique Hotel.</p>
            <p class="handbook-content-1 mt-2">Serviced apartments with full amenities like regular apartments but beautifully decorated to suit travel needs. Some addresses that tourists can refer to include Ariosa, The Bloom, City Oasis, S Home, M Village Boutique. Serviced apartments range in price from 800,000 VND to 2 million VND.</p>
            <p class="handbook-content-1 mt-2">Homestay costs less than 1 million VND per room. Some homestay addresses in the center include Nap Saigon, Home, Hostie Saigon Wanderlust Home, Cactusland Homestay, Zooz Studio.</p>

            <p class="handbook-title-1 mt-3">Tourism and entertainment activities</p>
            <p class="handbook-content-1 mt-2"><b>Taking a river bus</b>: River experiences are a characteristic of Ho Chi Minh City tourism. Tourists can see the city from a different perspective, through many famous landmarks such as Nha Rong wharf, Ben Nghe port, Phu My bridge, Den Do cape, Binh Khanh ferry wharf.</p>
            <p class="handbook-content-1 mt-2"><b>Dinner on the cruise</b>: The cruise departs every evening from Saigon port, taking guests along the river, admiring the nighttime beauty of Nha Rong wharf, Ben Nghe port, Saigon bridge, Landmark 81 building... Guests can experience dinner on the yacht, enjoy the beautiful scenery along the river, with ticket prices ranging from 350,000 VND to more than one million VND, depending on the type of yacht. Asian - European style buffet or combo meal. The cruise also has art shows, music and dance performances, and magic shows.</p>
            <p class="handbook-content-1 mt-2"><b>Sightseeing from a double-decker bus</b>: The city center has an open-top double-decker bus. The vehicle has a multilingual voiceover system that automatically guides you to locations on the road, tourist maps, free wifi, and tour guides. Each trip is about 60 minutes long, passing through famous places such as the Botanical Garden, War Remnants Museum, Bui Vien walking street, Ben Thanh market, Nguyen Hue walking street, city theater and ending with a tour. Experience viewing the city from above at the Saigon Skydeck on the 49th floor of Bitexco Financial Tower.</p>
            <p class="handbook-content-1 mt-2"><b>Walking in the park</b>: The Zoo has existed for more than 150 years, making it the 8th oldest zoo in the world. Initially, this was a botanical garden, serving plant and animal conservation activities for city residents, and a research place for scientists. Currently, the Zoo has more than 1,000 animals, more than 2,000 trees of 260 species, 23 species of domestic orchids, 33 species of cacti on an area of ​​17 hectares. The campus here is fresh and suitable for relaxation sessions.</p>
            <p class="handbook-content-1 mt-2"><b>Listen to live music</b>: Sipping a cup of coffee or a glass of wine and enjoying live music is one of the experiences in Ho Chi Minh City, especially in the evening. Live music performance spaces have long attracted crowds of locals and tourists. In the evening, each place has its own music taste, from vibrant rock, to improvised jazz, gentle acoustic or deep love songs.</p>
            <p class="handbook-content-1 mt-2"><b>Experience Western Street</b>: Locals and tourists often call the area Bui Vien - De Tham - Pham Ngu Lao, District 1 Western Street, operating from dusk to dawn the next morning. The street includes free public amenities such as restrooms, wifi connections and tourist information stations. The neighborhood is suitable for young people, tourists, especially Westerners. Hundreds of cafes, bars, pubs and restaurants line both sides of the street, always creating a vibrant atmosphere. The street also has many places selling tours.</p>
            <p class="handbook-content-1 mt-2"><b>Tan Dinh Market</b>: Built in 1926, the main gate of the market has a unique design. This is also a business location for many products, including fabrics and cuisine. The food stalls in this market are always highly appreciated by diners for their diverse, delicious and attractive dishes such as vermicelli with fish sauce, crab soup, crab noodle soup, fruit platters and especially the chicken sticky rice dish that is always known by many people. arrive.</p>

            <p class="handbook-title-1 mt-3">Cuisine</p>
            <img src="~/Content/Images/Home/Handbook/Saigon/saigon-2.jpg" width="100%" />
            <p class="note-img">Cuisine Saigon</p>
            <p class="handbook-content-1 mt-2"><b>Phan Xich Long Street</b>: Phan Xich Long Street, Phu Nhuan District is home to many famous restaurants, eateries, and culinary brands. Here, visitors can find hot pot, barbecue, European-style restaurants, Japanese, Thai, Korean restaurants, and Vietnamese restaurants. 13 streets named after flowers surround Phan Xich Long main street such as Hoa Phuong, Hoa Orchid, Hoa Hue, Hoa Apricot and also have many cafes and rooftop bars, open until midnight.</p>
            <p class="handbook-content-1 mt-2"><b>Vinh Khanh Snail Street</b>: Snail dishes are a specialty of Ho Chi Minh City. Anywhere in the city, you can see snail shops, in which along Vinh Khanh street, District 4, there are many of the most famous snail and seafood rows in the city. Stores are often open until midnight, crowded with customers. Snail dishes cost from 80,000 to 150,000 VND per portion depending on the type of snail. Unlike Hanoi snails, which often have a typical cooking style of steaming lemongrass and dipping in chili fish sauce, snails in Ho Chi Minh City are prepared in a variety of ways, from salted egg sauce, to stir-frying tamarind, grilled with chili salt, and stir-fried with satay.</p>
            <p class="handbook-content-1 mt-2"><b>Ho Thi Ky Food Street</b>: Food street on Ho Thi Ky street, District 10 is one of the destinations that attracts both tourists and locals. Open from 3pm every day, more than 100 restaurants sell a variety of European, Asian and other regional dishes in Vietnam. The neighborhood attracts diners thanks to grilled skewers and processed seafood such as grilled lobster with cheese and grilled squid teeth with salt and chili. Dishes range in price from 7,000 to 100,000 VND.</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>Ha Ton Quyen Dumpling Street</b>: Ha Ton Quyen Street, District 11, is a famous address selling Chinese dumplings, with shops along both sides of the street. The whole neighborhood is always bustling with people coming in and out, especially in the afternoon and evening. The dishes here are diverse such as fried, dried (oyster sauce), dumpling noodles, shrimp and squid, mixed, fish balls, pulled noodles with an average price of 50,000 VND per portion. Customers often drive along the street, there will be people from the shops offering offers, showing them where to park for free and then going inside to order food.</p>
        </div>
    </div>
</div>