
@{
    ViewBag.Title = "HandbookSingapore";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-singapore">
                <p class="titlecontent">Handbook Singapore</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">More than 50% of tourists coming to Singapore for the first time want to return here for a second trip. You can see that this is an extremely attractive tourist destination for many tourists. With its location in the middle of the world's busiest shipping route, Singapore promises to be an ideal destination for tourists.</p>
            <p class="handbook-title-1 mt-3">Time to travel to Singapore</p>
            <p class="handbook-content-1 mt-2">Singapore is a tourist country so you can come here in any month of the year, but if you want your trip to be more attractive and interesting, you should go during festivals. Hai Dang Travel will share with you the times of some festivals in this beautiful country. However, according to the Singapore travel guide, you should avoid going to Singapore in May, November, December and January. Because here was the time Singapore was covered by forest fire smoke and prolonged thunderstorms.</p>
            <img src="~/Content/Images/Home/Handbook/Singapore/singapore-1.jpg" width="100%" />
            <p class="note-img">Singapore Flyer</p>

            <p class="handbook-title-1 mt-3">Move</p>
            <p class="handbook-content-1 mt-2">From the airport you will move to the center. There are 3 means of transportation you can choose to get to the city center: subway (MRT), bus or taxi. The subway and bus system in Singapore is ranked among the best in the world. So you just need to sit on the bus or subway to reach famous tourist destinations here.</p>
            <p class="handbook-content-1 mt-2"><b>MRT</b>: is a means of meeting 90% of the travel needs of residents and tourists in Singapore. Traveling by this means, you can follow 3 main routes: red route (North South), purple route (North East), blue route (East West), the names of these routes are the direction of the train. The most convenient way to take the MRT, bus and monorail (train to Sentosa island) is to buy an EZ Link card.</p>
            <img src="~/Content/Images/Home/Handbook/Singapore/singapore-2.jpg" width="100%" />
            <p class="note-img">MRT Singapore</p>
            <p class="handbook-content-1 mt-2"><b>Bus</b>: operates from 6:00 am until late. Ticket price is about 1 - 1.5 S$ for non-air-conditioned vehicles; Cars with air conditioning cost 1 - 1.8 S$. You should prepare coins or Ezlink cards because the drivers will not give you change.</p>
            <img src="~/Content/Images/Home/Handbook/Singapore/singapore-3.jpg" width="100%" />
            <p class="note-img">Bus Singapore</p>
            <p class="handbook-content-1 mt-2"><b>Taxi</b>: the fare for the first 1 km is S$2.8, then the fare is S$0.2 for each subsequent 330m. Even if it is the same distance, going at different time frames, the price will be different. After 12:00 midnight, taxis charge an additional 50% fare. Getting a taxi in Singapore is relatively difficult. You need to find Taxi Stands to wait, or call to book a taxi in advance.</p>
            <img src="~/Content/Images/Home/Handbook/Singapore/singapore-4.jpg" width="100%" />
            <p class="note-img">Taxi Singapore</p>

            <p class="handbook-title-1 mt-3">Currency and payments in Singapore</p>
            <p class="handbook-content-1 mt-2">You should exchange Singapore currency in Vietnam before leaving. If you are in Saigon, you can exchange money at good money exchange counters on Le Loi and Nguyen Hue streets or Bui Vien and Pham Ngu Lao areas (if you are in Ho Chi Minh City). If you are in Hanoi, go to Ha Trung street, the stalls are not much different.</p>
            <img src="~/Content/Images/Home/Handbook/Singapore/singapore-5.jpg" width="100%" />
            <p class="note-img">Currency in Singapore</p>

            <p class="handbook-title-1 mt-3">Weather when traveling to Singapore</p>
            <p class="handbook-content-1 mt-2">Singapore khá nóng do nằm trong vùng khí hậu xích đạo. Do đó việc ăn mặc sẽ cần phải thoáng mát.</p>

            <p class="handbook-title-1 mt-3">Place to stay when traveling to Singapore</p>
            <p class="handbook-content-1 mt-2">Most hotels in Singapore are quite nice, fully equipped and modern, you can freely use the internet or watch YouTube. Below are some hotel locations depending on your budget.</p>
            <p class="handbook-content-1 mt-2">One more thing to note is that when looking at accommodation, remember to check the map to see if it is close to the MRT, because if it is far away, traveling will be quite inconvenient. And if you are female and there are few people, don't choose the Geylang area because that area is a bit complicated at night.</p>

            <p class="handbook-title-1 mt-3">Enjoy cuisine in Singapore</p>
            <p class="handbook-content-1 mt-2"><b>Chilli Crab</b>: Singapore's soul food, the price is quite high but everyone tried to spend money to try it. The crab is super big and super delicious, although quite spicy but very delicious. I ate at Jumbo because it was convenient, but I know that Chilli Crab at No Signboard in Vivo City is the best.</p>
            <img src="~/Content/Images/Home/Handbook/Singapore/singapore-6.jpg" width="100%" />
            <p class="note-img">Chilli Crab</p>
            <p class="handbook-content-1 mt-2"><b>Hainanese chicken rice</b>: I eat a lot of this dish in Vietnam, but Hainanese chicken rice in Singapore still has a very unique flavor with greasy chicken broth and chicken dipped in spicy chili fish sauce.</p>
            <img src="~/Content/Images/Home/Handbook/Singapore/singapore-7.jpg" width="100%" />
            <p class="note-img">Hainanese chicken rice</p>
            <p class="handbook-content-1 mt-2"><b>Frog porridge</b>: a dish that has appeared quite a lot in Ho Chi Minh City. In my opinion, when I eat frog porridge in Singapore, the taste is similar to the taste in Vietnam, not much different, except for the meat. Frogs are tougher and less susceptible to powder in Vietnam.</p>
            <p class="handbook-content-1 mt-2"><b>Bak Kut Teh</b>: pork rib soup, because so many people recommended it, my group tried it. At first glance, there was nothing special because there was only a bowl of clear soup and a long piece of pork ribs, but when eaten, I really understand why it's famous, the pork is super tender, the feeling of each fiber melting in the mouth plus the sweet and fragrant gravy with the scent of Chinese medicine.</p>

            <p class="handbook-title-1 mt-3">Some attractions in Singapore</p>
            <p class="handbook-content-1 mt-2"><b>Garden by the Bay</b>: is home to about 250 thousand precious tree species, divided into 3 areas: Bay South, Bay East and Bay Central. The outside areas are free and do not have to be paid, but to visit the Flower Dome and Cloud Forest greenhouse areas, you will have to pay a fee of $28. But don't waste your money and don't go in because you will be truly overwhelmed when you step in here, it's unbelievable that they were able to bring a primeval forest right into the heart of the city, all types of plants are diverse. and green.</p>
            <img src="~/Content/Images/Home/Handbook/Singapore/singapore-8.jpg" width="100%" />
            <p class="note-img">Garden by the Bay</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>Little India</b>: the brightly colored walk called Little India made us extremely excited. This place arouses all senses for those who visit by being filled with images, sounds, space, smells and tastes of India because this place is where the majority of Indians in Singapore gather. The street stalls look very eye-catching with all kinds of vegetables, goods, souvenirs, and fabrics. Little India truly has its own unique flavor and is also a place with a very unique culture, an indispensable part of Singapore, worth a tour for tourists to know. There are also other tourist attractions: Sentosa, Orchard Road, Marina Bay Sand, Universal Studios park...</p>
       
            <p class="handbook-title-1 mt-3">What gifts to buy when traveling to Singapore?</p>
            <p class="handbook-content-1 mt-2"><b>Fashionable clothes</b>: in Singapore, you can buy fashionable clothes at markets, shopping centers and large fashion shops. Popular brands you can see everywhere on the streets of Singapore, such as: Giordano, Baleno, Bossini, Esprit, Forever21, Fox (very pretty baby clothes), G2000, BYSI... If you like to buy items More quality and famous, you can go along Orchard Road - a shopping paradise full of all kinds of clothes you want. There is a saying in Singapore that goods are on sale all year round. You will receive a discount of about 30 - 40% if you buy 3 or more.</p>
            <p class="handbook-content-1 mt-2"><b>Bags, shoes, glasses and accessories</b>: Bugis Junction or Vivo City are also places where you can find many trendy fashion accessories at affordable prices. High-quality shoes, handbags, and eyeglasses include famous brands such as Charles & Keith, Hush Puppy, Bata, Aldo. When shopping here, you won't have to worry about buying fake, counterfeit or poor quality goods because there are no fake goods in Singapore.</p>
            <p class="handbook-content-1 mt-2"><b>Perfume, cosmetics</b>: cheap perfumes you can go to the basement area at Shopping Centers, the price is cheaper than in Vietnam from 400,000 VND to 500,000 VND, guaranteed genuine. You can also buy shower gel, shampoo, skin care, and scrubs at The Body Shop, which is full of your favorite items.</p>
            <p class="handbook-content-1 mt-2"><b>Chocolate and confectionery</b>:Chocolate and candy stores are present throughout Shopping Centers. A suggestion for you is the ROYCE store located in the Takashimaya building on Orchard Road.</p>
            <p class="handbook-content-1 mt-2"><b>Singapore Handicrafts</b>: Shops at the Singapore Handicraft Center at Chinatown Point sell artefacts, original wooden furniture and handicrafts, bamboo umbrellas, paintings, sculptures on wood and traditional Chinese musical instruments. You'll even be able to find silk hats, shirts, and underwear.</p>
            <p class="handbook-content-1 mt-2"><b>Souvenirs</b>: you can buy writing buttons, key chains, paperweights, teddy bears, magic tools, casting plates... or other items such as handbags, watches, phones... Bugis area and Jurong East is probably the most suitable destination for tourists because it has many items, rich and very cheap prices. Another location is ChinaTown.</p>
        </div>
    </div>
</div>
