
@{
    ViewBag.Title = "HandbookChina";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-china">
                <p class="titlecontent">Handbook China</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">China is the ideal stopover for your travel itinerary. As a country known to have the highest population density in the world, many ethnic groups create diversity in culture, customs and traditions... with charming, poetic landscapes. China travel experience handbook will show you practical experiences for your journey to this vast country.</p>
            <p class="handbook-title-1 mt-3">Prepare</p>
            <p class="handbook-content-1 mt-2">
                Passport: valid for 6 months or more, original passport with blank pages and 01 photocopy of information page with photo.
                Visa declaration form with 4×6 cm card photo: “Visa declaration form for the People's Republic of China” (V2013) with a card photo taken within the last 6 months pasted on the declaration form. Submit the remaining card photo along with other necessary documents
                Original and photocopy of documents proving legal stay or residence, work, or study in Vietnam (for foreign nationals). Photocopy of ID card, original household registration book (for people with Vietnamese nationality)
                Other documents related to the trip (not required but the review agency staff may request additional documents to increase authenticity) such as confirmation of round-trip air ticket reservations and hotel reservations; or a Chinese invitation letter from a Chinese partner (for a business visa), this invitation letter must include details such as
                Personal information of the invited person: full name, gender, date of birth, passport number...;
                Schedule information of the invited person: arrival and departure dates, travel locations...;
                Information of the partner sending the invitation: name of unit, phone number, address, seal, legal representative or signature of the person sending the invitation...
            </p>
            <img src="~/Content/Images/Home/Handbook/China/china-6.jpg" width="100%" />
            <p class="note-img">Forbidden City</p>

            <p class="handbook-title-1 mt-3">Move</p>
            <img src="~/Content/Images/Home/Handbook/China/china-1.jpg" width="100%" />
            <p class="note-img">Beijing city</p>
            <p class="handbook-content-1 mt-2"><b>Bus</b>: If you want to travel from cities and towns in China, this means of transportation is quite convenient, and there are also sleeper buses for long trips.</p>
            <p class="handbook-content-1 mt-2"><b>Taxi</b>: This is the most convenient and comfortable public transportation. The price of a taxi depends on the distance you travel, and in general it is not too expensive.</p>
            <p class="handbook-content-1 mt-2"><b>Bicycle</b>: You will see a lot of bicycles in traffic in China, use bicycles to visit and walk everywhere.</p>

            <p class="handbook-title-1 mt-3">WHICH HOTEL SHOULD I STAY WHEN TRAVELING TO CHINA?</p>
            <img src="~/Content/Images/Home/Handbook/China/china-2.jpg" width="100%" />
            <p class="note-img">Motel in China</p>
            <p class="handbook-content-1 mt-2">You may not believe it, but the hotel system in Beijing compared to other countries in the region has much better prices. Many people also evaluate that car rental prices in Beijing are more expensive than in London, but hotel room prices are less than half the price.</p>

            <p class="handbook-title-1 mt-3">CHINESE CUISINE – THE CRADLE OF HUMAN CULTURE.</p>
            <p class="handbook-content-1 mt-2">As a country with a history of more than 5,000 years, Chinese culinary art is famous around the world, and is one of the three largest cultures in the world. Chinese dishes are unique from decoration to taste and preparation, join us in immersing yourself in the rich Chinese cuisine.</p>
            <img src="~/Content/Images/Home/Handbook/China/china-3.jpg" width="100%" />
            <p class="note-img">Peking roast duck</p>
            <p class="handbook-content-1 mt-2">This dish is very famous, typical of Chinese cuisine. The skin is thin and crispy, the white meat is tender when eaten and dipped in a special sauce made from sweet beans, leeks and soybeans. Just like when you come to England, you have to visit Big Ben tower, then coming to China without trying Peking roast duck is not considered going to China.</p>

            <p class="handbook-title-1 mt-3">FAMOUS ATTRACTIONS OF CHINESE TOURISM.</p>
            <p class="handbook-content-1 mt-2">
                <b>Great Wall</b>
                China's famous city wall was continuously built of earth and stone from the 5th century BC until the 16th century, to protect the Chinese Empire from attacks by the Huns, Mongols, and Turks. , and other nomadic tribes from areas now part of Mongolia and Manchuria. This is one of the most popular tourist destinations in China.
            </p>
            <img src="~/Content/Images/Home/Handbook/China/china-4.jpg" width="100%" />
            <p class="note-img">Great Wall</p>
            <p class="handbook-content-1 mt-2"><b>Ancient Phoenix</b>: Is a small town in Phoenix district, western Hunan province, China, a place that everyone in their life wishes to visit even once. The fairyland and ancient features create a A bold town that we only see in swordplay movies! If anyone has never been here, looking at the photos will be overwhelming, it is truly a captivating beauty.</p>
            <img src="~/Content/Images/Home/Handbook/China/china-5.jpg" width="100%" />
            <p class="note-img">Ancient Phoenix</p>

            <p class="handbook-title-1 mt-3">WHAT TO SHOP WHEN TRAVELING TO CHINA?</p>
            <p class="handbook-content-1 mt-2"><b>Scroll painting</b>: This is a quite famous art form in China and you should make sure not to miss this wonderful gift, the frescoes, couplets, etc. of the native people, will be unique paintings.</p>
            <p class="handbook-content-1 mt-2"><b>Silk</b>: Chinese silk is famous for its quality, rich in colors and designs. You can buy this gift in many places such as Suzhou, Guangdong, Sichuan, Hangzhou, etc. Silk is very Suitable for sewing clothes, or other accessories such as scarves, etc.</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>Ceramics</b>: China is considered the cradle of ceramic arts, developed through the Han, Tang, Song, Yuan, and Ming dynasties and peaked with ceramics in the Qing Dynasty. From lines, textures, patterns, all create perfect ceramics.</p>
        </div>
    </div>
</div>

