
@{
    ViewBag.Title = "HandbookIndonesia";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-indonesia">
                <p class="titlecontent">Handbook Indonesia</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">In addition, this island nation is also famous for its lush greenery, immense green sandalwood forests, the beautiful paradise island of Bali, exquisitely carved temples and majestic mountains. This place deserves to be an ideal stop for tourists who love to experience and explore.</p>
            <p class="handbook-title-1 mt-3">Recommended time to travel in Indonesia</p>
            <p class="handbook-content-1 mt-2">With a two-season climate: dry season and rainy season, you can travel at any time. The smart season starts from May until October and the rainy season starts from November until April of the following year.</p>
            <img src="~/Content/Images/Home/Handbook/Indonesia/indonesia-1.jpg" width="100%" />
            <p class="note-img">Indonesia in antumn</p>

            <p class="handbook-title-1 mt-3">Instructions for exchanging Indonesian currency</p>
            <img src="~/Content/Images/Home/Handbook/Indonesia/indonesia-2.jpg" width="100%" />
            <p class="note-img">Currency in Indonesia</p>
            <p class="handbook-content-1 mt-2">In Indonesia, two currencies can be used: Rupial and USD. If you have time, you should exchange money in Vietnam to avoid high fees. You can go to banks and gold shops. If you exchange money in this country, you can note some of the following money exchange points</pclass="handbook-title-1>
            <p class="handbook-content-1 mt-2"><b>Bank Indonesia</b>: This is the safest place to exchange money. According to self-sufficient travel experience in Indonesia, these banks exchange money from 8:00 a.m. to 3:00 p.m. Please note this time frame to exchange money.</p>
            <p class="handbook-content-1 mt-2"><b>Hotel</b>: If you exchange money here, choose a reputable and large hotel to exchange money. Currency exchange is done at the front desk.</p>
            <p class="handbook-content-1 mt-2"><b>Licensed money exchange counter</b>: If there is a money exchange counter near your location, you can go there to exchange money quickly and most conveniently.</p>

            <p class="handbook-title-1 mt-3">Guide to transportation in Indonesia</p>
            <p class="handbook-content-1 mt-2">One of the most convenient means of traveling from Vietnam to Indonesia is by plane. You can find good air tickets to Indonesia at many air ticket agents and from many airlines such as Vietnam Airlines, Tiger Air, Royal Brunei Airlines...</p>

            <p class="handbook-title-1 mt-3">Travel to Indonesia on your own - choose a hotel</p>
            <p class="handbook-content-1 mt-2"><b>Jakarta tourist area</b>: If you want to experience here and enjoy the peaceful and fresh air, you can rent hotels: Topaz Residence, Pullman Jakarta, Wonderloft Hostel...</p>
            <p class="handbook-content-1 mt-2"><b>Bali tourist area</b>: If you love the sea, love this island and like convenience. Some cheap hotels for your reference are Rama Beach Resort & Villas, Harper Kuta Hotel, Anulekha Resort and Villa, Mulia Resort Nusa Dua</p>
            <p class="handbook-content-1 mt-2"><b>Surabaya City</b>: When you come to Surabaya city, you will be surprised with the ancient architecture, beautiful and ancient castles. You can choose: Hotel Mulia Senayan, Clay Hotel…</p>

            <p class="handbook-title-1 mt-3">Indonesia Tourism - Attractive tourist destination</p>
            <img src="~/Content/Images/Home/Handbook/Indonesia/indonesia-3.jpg" width="100%" />
            <p class="note-img">Sunset in Indonesia</p>
            <p class="handbook-content-1 mt-2"><b>Ijen Crater volcano</b>: located in East Java, famous for the phenomenon of emitting blue light. Many tourists choose this location to explore and admire the splendid beauty.</p>
            <p class="handbook-content-1 mt-2"><b>Pantai Merah</b>: located on Komodo Island, is a special beach with sand mixed with coral reefs, creating a pink color for the beach.</p>
            <p class="handbook-content-1 mt-2"><b>Pura Besakih</b>: in Indonesia, majestically located on the western slopes of Mount Agung with breathtaking scenery. Visitors should leave this place to explore.</p>

            <p class="handbook-title-1 mt-3">Eat delicious and cheap food in Indonesia</p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/Home/Handbook/Indonesia/indonesia-4.jpg" width="100%" />
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/Home/Handbook/Indonesia/indonesia-5.jpg" width="100%" height="100%"/>
        </div>
        <div class="col-md-12">
            <p class="note-img">Cuisine in Indonesia</p>
            <p class="handbook-content-1 mt-2"><b>Sayur ASEM</b>: one of the famous dishes in Indonesia you should not miss is Sayur ASEM. In Vietnamese, this dish is called tamarind soup, so it's quite refreshing and deliciously sour. To enjoy this dish, you can go to any restaurant or eatery that has this dish.</p>
            <p class="handbook-content-1 mt-2"><b>Rendang</b>: Rendang is actually a beef stew, originating from West Sumatra. Rendang is one of the most delicious and nutritious dishes you should try when you come here.</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>Spicy marinated fish dish</b>: you must be someone who can eat spicy food with this dish. Prepared according to the people's own recipe here. To enjoy this dish, you should go to Bali island because spicy marinated fish on Bali island is the most delicious and affordable.</p>
        </div>
    </div>
</div>
