
@{
    ViewBag.Title = "HandbookMalaysia";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-malaysia">
                <p class="titlecontent">Handbook Malaysia</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">Belonging to the group of countries in Southeast Asia, Malaysia has an area of ​​nearly 330,803km² divided into two separate parts: West Malaysia (Peninsula Malaysia) and East Malaysia (Malaysian Borneo) with a population of about 26 billion people. Due to its territory adjacent to neighboring countries Thailand, Singapore, Brunei and Indonesia, Malaysian culture is very diverse. Modern buildings interspersed with architecture from the colonial past, along with beautiful nature, have created Malaysia as a destination not to be missed in the exploration diary of "moving feet".</p>
            <p class="handbook-title-1 mt-3">Move</p>
            <img src="~/Content/Images/Home/Handbook/Malaysia/malaysia-1.jpg" width="100%" />
            <p class="note-img">Means of transportation in Malaysia</p>
            <p class="handbook-content-1 mt-2">There are 4 most popular types of transportation when traveling to Malaysia that you can choose to visit famous destinations in this country:</p>
            <p class="handbook-content-1 mt-2"><b>Plane</b>: the fastest means of traveling between cities. The two airlines that many people choose are AirAsia and the national airline Malaysia Airlines.</p>
            <p class="handbook-content-1 mt-2"><b>Trains</b>: KTMB runs in Peninsular Malaysia and Jungle Railway runs in Malaysian Borneo.</p>
            <p class="handbook-content-1 mt-2"><b>Bus</b>: this is the cheapest means of transportation in Malaysia. Most major cities in Malaysia have bus stations and highways.</p>
            <p class="handbook-content-1 mt-2"><b>Car</b>: to travel to nearby attractions, this is the most suitable means of transport for those traveling to Malaysia on their own in groups.</p>

            <p class="handbook-title-1 mt-3">IDEAL WEATHER AND TIME TO TRAVEL TO MALAYSIA</p>
            <p class="handbook-content-1 mt-2">Because it is located in Southeast Asia with Vietnam, Malaysia has similar weather to our country - tropical climate, warm all year round, so you can travel to Malaysia at any time you like. However, the most suitable time to go to Malaysia on your own or on a Malaysia tour itinerary is summer.</p>
            <img src="~/Content/Images/Home/Handbook/Malaysia/malaysia-2.jpg" width="100%" />
            <p class="note-img">Penang in Malaysia</p>
            <p class="handbook-content-1 mt-2">From April to September is the dry season in Malaysia, the sun is not too harsh, which is very convenient for sightseeing and discovery trips. Moreover, from June to August there will often be very "big" shopping discounts. It would be great to travel to Malaysia during this time, having fun while shopping freely. From October to March next year the weather is cooler, but there will also be sudden rains, but it will not affect your trip too much.</p>

            <p class="handbook-title-1 mt-3">MALAYSIA TOURISM DESTINATION</p>
            <img src="~/Content/Images/Home/Handbook/Malaysia/malaysia-3.jpg" width="100%" />
            <p class="note-img">Malaysia</p>
            <p class="handbook-content-1 mt-2"><b>Saint Paul's Cathedral</b>: Saint Paul's Cathedral is a historical ruin in Malacca City, Malaysia. Built in 1521, through many changes over time, it is now the oldest church in Southeast Asia.</p>
            <p class="handbook-content-1 mt-2"><b>Genting Highlands</b>: Genting Highlands is truly the top entertainment destination in Malaysia, where you will visit famous casinos or have fun at Skytropolis, Snow World parks, and many other interesting places. . Located on a green hill and mountainous terrain, the climate is very cool, which is why many tourists consider this a resort for their vacation.</p>
            <p class="handbook-content-1 mt-2"><b>Royal Palace of Malaysia (King Palace)</b>: Istana Negara palace is designed in a bold Arabic architectural style with a gilded dome, gorgeous decoration inside, carved wood or marble interior. Luxurious jelly makes many tourists admire.</p>
            <p class="handbook-content-1 mt-2"><b>Petronas Twin Towers</b>: Petronas Twin Towers were once the tallest buildings in the world. Now the tallest twin buildings in the world with 88 floors, connected on the 41st and 42nd floors by a 58m long two-story Sky Bridge. This is a popular check-in location for most young people traveling to Malaysia on their own.</pclass="handbook-content-1>


            <p class="handbook-title-1 mt-3">DELICIOUS FOOD IN MALAYSIA</p>
            <img src="~/Content/Images/Home/Handbook/Malaysia/malaysia-4.jpg" width="100%" />
            <p class="note-img">Street food in Malaysia</p>
            <p class="handbook-content-1 mt-2"><b>Sour soup with fish head cooked in curry</b>: is the most popular dish in Malaysia, with its unique flavor and preparation including fish head cooked with spicy, greasy curry sauce that has "captivated" many diners. This dish is often eaten with white rice.</p>
            <p class="handbook-content-1 mt-2"><b>Rending beef</b>: attracts eaters with the unique aroma of beef mixed with hot, spicy curry with extremely eye-catching colors.</p>
            <p class="handbook-content-1 mt-2"><b>Asam laksa vermicelli</b>: is a spicy and sour version of fish vermicelli for those who love freshness in cuisine. Asam laksa gets its mild sour taste from the main ingredient assam (sour tamarind); When eaten, there is often sliced ​​cucumber sprinkled on top and served with spicy shrimp satay that makes tears come to the eyes.</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>Nasi lemak rice</b>: is a familiar dish of many diners. Rice cooked with fragrant coconut milk, shrimp sambal sauce, fried anchovies, cucumber, an egg, nuts like roasted peanuts, you can eat with chicken in spicy sauce.</p>
        </div>
    </div>
</div>