
@{
    ViewBag.Title = "HandbookHanoi";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-hanoi">
                <p class="titlecontent">Handbook Hanoi</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">Constructions from the French colonial period, sidewalk shops selling local specialties, motorbikes weaving on crowded streets... are the first impressions of visitors about Hanoi. For many people, Hanoi has all the interesting things to explore in their own way.</p>
            <p class="handbook-title-1 mt-3">Which season is beautiful in Hanoi?</p>
            <p class="handbook-content-1 mt-2">The most ideal time to travel to Hanoi is in the fall from August to November and spring from March to April. Many people think that autumn is the most beautiful weather of the year in Hanoi, with The sky is clear blue, the wind is chilly, the yellow leaves are falling, the faint smell of milk flowers... Spring has come and the weather is warm, the streets seem to be wearing new clothes as the trees sprout and flowers bloom. ..</p>
            <img src="~/Content/Images/Home/Handbook/Hanoi/hanoi-1.jpg" width="100%" />
            <p class="note-img">Locusts change leaves next to Hoan Kiem Lake on spring days.</p>

            <p class="handbook-title-1 mt-3">Move</p>
            <p class="handbook-content-1 mt-2">Hanoi is considered the heart of Vietnam, so visitors can travel easily to the capital by plane, train, bus, private car or motorbike from other provinces.</p>
            <p class="handbook-content-1 mt-2">To move around the city, you can go by car, motorbike or bicycle. But the experience will be more poetic if you sit on a cyclo and admire 36 streets, or go on a tour of a three-wheeled motorbike or vintage Vespa. Another suggestion worth considering is a double-decker bus, ticket prices range from 130,000 - 599,000 VND.</p>

            <p class="handbook-title-1 mt-3">Accommodation</p>
            <p class="handbook-content-1 mt-2">Hanoi has many accommodation options for tourists such as affordable motels, homestays, hotels, resorts... suitable for budgets and preferences. If you go for a walk in the old town, you can rent from "Western backpacker" style beds with dormitory rooms for about 100,000 VND per night, to high-end hotels for 3,000,000 - 5,000,000 VND per night.</p>
            <p class="handbook-content-1 mt-2">Some special hotels include Sofitel Legend Metropole Hanoi with French colonial architecture, just a few steps from the Opera House is Hilton Hanoi Opera, Apricot Hotel right on the banks of Hoan Kiem Lake, famous hotels. With views of West Lake are Sheraton Hanoi and InterContinental Hanoi Westlake, Lotte Hotel Hanoi on the high floor of the 65-storey Lotte Center building...</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Images/Home/Handbook/Hanoi/hanoi-2.jpg" width="100%" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/Home/Handbook/Hanoi/hanoi-3.jpg" width="100%" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/Home/Handbook/Hanoi/hanoi-3.jpg" width="100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-title-1 mt-3">Discover</p>
            <p class="handbook-content-1 mt-2"><b>Thang Long Imperial Citadel</b>: Thang Long Imperial Citadel is a world cultural heritage located in the heart of Hanoi and has a history of more than 1,300 years. This place contains unique relics and relics, demonstrating the history of Thang Long - Hanoi and the history of the Vietnamese people through many eras. Address: 19C Hoang Dieu, Dien Ban, Ba Dinh.</p>
            <p class="handbook-content-1 mt-2"><b>Hoan Kiem Lake</b>: Hoan Kiem is a natural freshwater lake of Hanoi city, connecting the streets of Hang Ngang, Hang Dao, Cau Go, Luong Van Can, Lo Su... with the Western Quarter planned by the French. Here for more than a century are Bao Khanh, Nha Tho, Trang Thi, Hang Bai, Dinh Tien Hoang, Trang Tien... Walking around the lake, in addition to enjoying the fresh nature in the middle of the city, you can visit Ngoc Son Temple , old Quarter...</p>
            <p class="handbook-content-1 mt-2"><b>Long Bien Bridge</b>: Not only simply spanning the two banks of the Red River, Long Bien Bridge is also a mark connecting the present and the old memories of people who love Hanoi. Long Bien Bridge was built in 1898, people also call it Song Cai Bridge or Bo De Bridge because the bridge spans Bo De wharf, Gia Lam, Hanoi. With a length of 1,682 m and an 896 m long approach bridge, Long Bien bridge is divided into 9 frames, each frame is 61 m long. According to the original design, the bridge has a total of 19 steel beam spans placed on 20 pillars over 40 m high.</p>
            <p class="handbook-content-1 mt-2"><b>Tran Quoc Pagoda</b>: Located on an island east of West Lake, Tran Quoc Pagoda was once among the most beautiful pagodas in the world. The pagoda has a history of 1,500 years, being the Buddhist center of Thang Long capital during the Ly and Tran dynasties. The work was recognized as a national historical and cultural relic in 1962. In 2003, the pagoda held the inauguration of the 15 m high, 11-storey Luc Do lotus stupa.</p>
            <p class="handbook-content-1 mt-2"><b>Temple of Literature - Quoc Tu Giam</b>: This is the first university in Vietnam. Today, visitors can visit the stone steles and solemn grounds with lotus ponds and gun ponds. The Temple of Literature is a rare peaceful and quiet place in the middle of a bustling city. Visitors will feel the harmony between ancient and modern times when coming here through the thousand-year-old walls.</p>
            <p class="handbook-content-1 mt-2"><b>Ho Chi Minh Mausoleum</b>: For Vietnamese people, this is one of the most important attractions in the country. Tourists come to pay their respects to President Ho Chi Minh. Visitors need to keep quiet, wear appropriate clothing and not take photos in prohibited areas.</p>
            <p class="handbook-content-1 mt-2"><b>One Pillar Pagoda</b>: The project is one of the oldest pagodas in Hanoi. The pagoda was built on a wooden trunk more than 1,000 years ago. In the 1950s, the original wooden trunk rotted so it was replaced with a concrete column. Western visitors should come here to walk around this area because the surrounding housing projects are among the most beautiful and impressive in Hanoi.</p>
            <p class="handbook-content-1 mt-2"><b>Old Town</b>: Let your feet lead the way, you will discover the most about the colorful and nostalgic streets of the capital. No destination, no predetermined route, just turn right, turn left or go straight. This street is full of toys, the other street is filled with shoes, clothes, antiques, or sometimes tombstones and motorbike parts.</p>
            <p class="handbook-content-1 mt-2"><b>Museums</b>: Destinations not to be missed when coming to any city are museums and historical relics. One of the places most tourists check in is the Ethnology Museum. The Museum of Ethnology currently stores and displays 15,000 artifacts, 42,000 documentaries, pictures and thousands of other documents about 54 Vietnamese ethnic groups.</p>

            <p class="handbook-title-1 mt-3">Cuisine</p>
            <p class="handbook-content-1 mt-2"><b>Pho</b>: When coming to Hanoi, you cannot miss pho, especially beef pho, which usually has two main types: cooked and rare. Cooked beef is pieces of beef boiled in broth, while rare beef is pieces of meat that are thinly sliced ​​and quickly blanched in boiling water. Then, the seller will put those slices of meat on pho noodles, pour broth and serve to diners. Some reference addresses are Pho Thin, Bat Dan, Tu Lun, Pho Lam on Hang Vai Street, Pho Tram on Yen Ninh Street.</p>
            <img src="~/Content/Images/Home/Handbook/Hanoi/hanoi-5.jpg" width="100%" />
            <p class="note-img">Pho in Vietnam</p>
            <p class="handbook-content-1 mt-2"><b>Vermicelli</b>: Bun cha - a dish often eaten for lunch. Similar to grilled meat vermicelli in the South and Central regions, but Hanoi's vermicelli noodles are marinated more elaborately. Those who like old flavors can go to bun cha restaurants in Hang Ma and Hang Dong. People who like bamboo vermicelli noodles should go to Buoi market and Dong Xuan market. Or visit the noodle shops in Ngoc Khanh, Giang Vo, Le Van Huu, Hang Manh which are also famous restaurants in Hanoi.</p>
            <img src="~/Content/Images/Home/Handbook/Hanoi/hanoi-6.jpg" width="100%" />
            <p class="note-img">Bun cha in Vietnam</p>
            <p class="handbook-content-1 mt-2"><b>Banh cuon</b>: Thin rice cakes stuffed with pork, wood ear mushrooms, minced onions, dipped in sweet and sour fish sauce are always a suitable dish for hot summer days. Walking on the streets, visitors will encounter many banh cuon shops open in the morning, with skillful and quick hands preparing the banh cuon. Some suggested addresses are Banh Cuon Ba Hanh, 26B Tho Xuong; Ba Xuan rice rolls, 16 Hoe Nhai slope and Long Bien market food area.</p>
            <img src="~/Content/Images/Home/Handbook/Hanoi/hanoi-7.jpg" width="100%" />
            <p class="note-img">Banh cuon in Vietnam</p>

            <p class="handbook-title-1 mt-3">What to buy as a gift?</p>
            <p class="handbook-content-1 mt-2"><b>O mai</b>: With sour, spicy, salty, and sweet flavors that converge the quintessence of Hanoi cuisine, apricot fruit is a gift that many people choose to buy as a gift when leaving Hanoi. The most famous address for this snack is Hang Duong street. Visitors can find here their favorite apricot varieties such as apricots, plums, ginger, dracontomelon, star fruit, lemon, kumquat, persimmon, peach, toad, tamarind... However, if purchased as a gift for Southerners , you should choose the alligator apricot fruit, because it has a sweet taste made from a sour fruit that is very typical of Hanoi. Depending on the type, apricot costs about 100,000 - 150,000 per kg.</p>
            <p class="handbook-content-1 mt-2"><b>Com</b>: The scent of Vong village's green rice has long created a unique charm for the capital's cuisine. However, because it is only available in the fall, Hang Than green rice cake is a perfect alternative for many tourists. The rice nuggets are sticky on the outside, with a layer of green bean filling mixed with greasy coconut on the inside, with a faint natural scent of grapefruit.</p>
            <p class="handbook-content-1 mt-2"><b>Lotus tea</b>: Tay Ho lotus tea will definitely be a precious gift for relatives and friends after visiting Hanoi. Because marinating lotus tea is an art that takes a lot of time and effort. After being selected from the best, dried tea petals will be marinated 5-7 times with lotus rice (white seeds on the lotus head) to absorb the flavor. The marinated lotus must be the type grown in lagoons in West Lake such as Nhat Tan and Quang Ba because it is fragrant and produces the most rice.</p>
            <p class="handbook-content-1 mt-2"><b>Van Phuc silk</b>: Thanks to its thin, soft, airy, color-fast, low-wrinkling characteristics, silk is very popular with tourists. Whether winter or summer, visitors coming here can find and buy satisfactory gifts from silk such as scarves, shirts, dresses, bags... In addition to Van Phuc silk village (about 10 km from the center of Hanoi), You can also buy silk at stalls on Hang Gai or Dinh Liet streets.</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>Bat Trang ceramics</b>: If you have the opportunity to visit Bat Trang, don't forget to buy ceramic products from traditional craft villages. With characteristic glaze colors and skilled craftsmanship, Bat Trang ceramics have a very unique beauty. In addition to commonly used bowls, bowls, cups, and cups, there are also products dedicated as gifts such as wind chimes, statues, etc. Visitors to the pottery village can also make their own bowls. , vases, vases, cups as gifts, both meaningful and an interesting experience.</p>
        </div>
    </div>
</div>
