
@{
    ViewBag.Title = "HandbookThailand";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-thailand">
                <p class="titlecontent">Handbook Thailand</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">Thailand has a tropical monsoon climate with four distinct seasons: the dry season lasts from January to February, the hot season from March to May, the rainy season from June to October, the cool season from November to December. Thailand's average temperature is quite high, the temperature usually ranges from 32 degrees Celsius in December and up to more than 35 degrees Celsius in April every year.</p>
            <p class="handbook-title-1 mt-3">Thailand travel experience - Immigration and Customs procedures</p>
            <p class="handbook-content-1 mt-2">Vietnamese citizens are exempt from visa when temporarily residing in Thailand for 30 days and have a passport valid for at least 6 months.</p>
            <p class="handbook-content-1 mt-2">When leaving Thailand, you present the declaration form along with your passport. The customs officer will stamp the return date on your passport and declaration and return it all to you. Antiques and genuine Buddha statues require an exit permit. Each person is not allowed to bring more than 50,000 baht in cash out of Thailand. (Baht is the currency of Thailand. 1 USD is equivalent to about 40 baht)</p>

            <p class="handbook-title-1 mt-3">Move</p>
            <p class="handbook-content-1 mt-2"><b>Skytrain BTS</b>: Individual fares range from 10 baht to 52 baht depending on your destination. If you intend to use Skytrain as your main means of transportation within Bangkok, you should buy a one day pass for 130 baht, which can be used an unlimited number of times in a day.</p>
            <img src="~/Content/Images/Home/Handbook/Thailand/thailand-1.jpg" width="100%" />
            <p class="note-img">Skytrain BTS</p>
            <p class="handbook-content-1 mt-2"><b>MRT</b>: MRT is the subway system in Bangkok, running a single line connecting Bang Sue in the North (near Chatuchak Park), Sukhumvit area, Silom area and Hua Lamphong station near Chinatown. Individual tickets cost from 16 to 40 baht; 1-day pass costs 120 baht; 3-day ticket 3-day pass costs 230 baht; 30-day ticket 30-day pass costs 1400 baht.</p>
            <p class="handbook-content-1 mt-2"><b>Tuk tuk</b>: Tuk tuk is the right vehicle when you want to travel to Thailand through Khao San neighborhood, Chinatown or other locations along the river. When traveling short distances, tuk tuks are much more advantageous than taxis because of the skillful maneuvering ability of the drivers.</p>
            <p class="handbook-content-1 mt-2"><b>Taxi</b>: taxi is quite a popular means of transport in Bangkok and is especially convenient for areas of Bangkok that the BTS and MRT systems do not cover such as the Northeast, Northwest (Chinatown and Westtown) along with some southern locations. Note that you should only take taxis that have prices displayed on the engine and avoid taking taxis parked in front of hotels or famous attractions during rush hour, in residential areas and crowded traffic to limit traffic. price pressured.</p>
            <p class="handbook-content-1 mt-2"><b>Bus</b>: To know which type of bus to take, Thai tourists should get the BMTA bus map at the bus shelters and board the bus with the correct number and color according to the instructions. Bus prices range from 7 baht to 22 baht depending on the distance and type of vehicle. The EURO II bus (orange yellow) is the most comfortable with good service and new air conditioning.</p>

            <p class="handbook-title-1 mt-3">Thailand travel guide - Places not to be missed</p>
            <p class="handbook-content-1 mt-2">Chiang Mai Jungle is one of the largest and most unique primeval forests in Thailand. Visitors coming here will have the opportunity to ride elephants and visit the primeval forest, feeling the natural beauty and hospitality of the indigenous people here.</p>
            <img src="~/Content/Images/Home/Handbook/Thailand/thailand-2.jpg" width="100%" />
            <p class="note-img">Chiang Mai</p>
            <p class="handbook-content-1 mt-2"><b>Phi Phi Island</b>: About 54km from Phuket is Phi Phi Island, one of the cleanest and most famous tourist islands in the world. On this tourist island, you can participate in water sports such as sailing, surfing, diving... taste fresh, delicious seafood, or find poetic inspiration while admiring the coconut and coconut groves. coral, listening to the sea whispering underfoot. Enjoying the fresh air here along with the beautiful natural landscape, immersing yourself in the cool sea breeze, anyone who comes here cannot help but say two words. the word "wonderful".</p>
            <img src="~/Content/Images/Home/Handbook/Thailand/thailand-3.jpg" width="100%" />
            <p class="note-img">Phi Phi Island</p>

            <p class="handbook-title-1 mt-3">Thailand travel guide - Delicious dishes</p>
            <p class="handbook-content-1 mt-2"><b>Papaya salad (som tam)</b>: Son Tam is a papaya salad that is sweeter and has a stronger peanut flavor than the papaya salad of Cambodia or Laos. This salad has a sweeter and milder taste, with the flavor of peanuts. This dish has all the basic flavors of Thai cuisine: the sourness of lemon, the sweetness of palm sugar, the saltiness of fish sauce. and the spicy taste of chili.</p>
            <img src="~/Content/Images/Home/Handbook/Thailand/thailand-4.jpg" width="100%" />
            <p class="note-img">Som tam</p>
            <p class="handbook-content-1 mt-2"><b>Grilled meat skewers (moo ping)</b>: Moo ping is made by marinating pork with fish sauce, coriander and coconut water, then grilled over charcoal, often served with sticky rice and dipped in chili fish sauce.</p>
            <img src="~/Content/Images/Home/Handbook/Thailand/thailand-5.jpg" width="100%" />
            <p class="note-img">Moo ping</p>
            <p class="handbook-content-1 mt-2"><b>Mango sticky rice (khao niew ma muang)</b>: Steamed with coconut milk, fragrant sticky rice is spread thinly on a plate, mangoes are placed on top, finally drizzled with coconut milk and sprinkled with a little peanuts, roasted sesame seeds, or beans. salty roasted green.</p>
            <img src="~/Content/Images/Home/Handbook/Thailand/thailand-6.jpg" width="100%" />
            <p class="note-img">Khao niew ma muang</p>

            <p class="handbook-title-1 mt-3">Thailand travel guide – Shopping areas</p>
            <p class="handbook-content-1 mt-2"><b>Siam Paragon</b>: is the pride of Bangkok with a total construction investment cost of more than 350 million USD, is the largest shopping area in the country (80,000 m²), the largest shopping mall (2,000 m²) and is the place to develop The largest movie theater (16 screens). Siam Paragon is a shopping area with many big brands: Giorgio Armani, Emporio Armani, Chanel, Dolce & Gabbana, Chloé.</p>
            <img src="~/Content/Images/Home/Handbook/Thailand/thailand-7.jpg" width="100%" />
            <p class="note-img">Siam Paragon</p>
            <p class="handbook-content-1 mt-2"><b>Chatuchak Weekend Market</b>: market opens on weekends, open from 8am to 6pm on Saturday and Sunday. This place is bustling with more than 15,000 stalls of all kinds, displaying all kinds of items from fresh food to daily goods, especially colorful garments at prices that completely convince buyers. Empty the wallet they brought.</p>
            <img src="~/Content/Images/Home/Handbook/Thailand/thailand-8.jpg" width="100%" />
            <p class="note-img">Chatuchak market</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>Chinatown</b>: home to many herbal shops, antiques, and traditional Chinese musical instruments. Chinatown is concentrated on two main roads: Yaowarat and Sampeng Lane (also known as Soi Wanit).</p>
            <img src="~/Content/Images/Home/Handbook/Thailand/thailand-9.jpg" width="100%" />
            <p class="note-img">Chinatown</p>

            <p class="handbook-title-1 mt-3">Thailand travel experience - Notes</p>
            <p class="handbook-content-1 mt-2">You should show respect to the king, queen and royal family of Thailand because those are the people that Thai people highly respect. Please respect some of their habits such as praying early in the morning or late in the evening</p>
            <p class="handbook-content-1 mt-2">You should dress politely and neatly in sacred places such as temples, churches, Buddha statues, etc.</p>
            <p class="handbook-content-1 mt-2">When greeting Thai people, you should greet with your hands clasped in front of your chest and your head slightly bowed. When entering a house, you must take off your shoes and avoid stepping on the threshold because Thai people believe that is where the gods reside.</p>
            <p class="handbook-content-1 mt-2">You should not pat someone else's head, even if it is a child, because the head is the most sacred place for Thai people.</p>
        </div>
    </div>
</div>