
@{
    ViewBag.Title = "HandbookItaly";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-italy">
                <p class="titlecontent">Handbook Italy</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">Italy is one of the European countries that attracts the largest number of annual tourists in the world. Italy has long been famous for its romantic works and lyrical beauty. This land is the origin of many long-standing cultures in the world.</p>
            <p class="handbook-title-1 mt-3">Climate of Italy</p>
            <p class="handbook-content-1 mt-2">Thanks to the latitude-long peninsula and the mostly mountainous terrain in the interior, Italy's climate is highly diverse. In most of the northern and central inland regions, the climate varies from humid subtropical to humid continental and oceanic. In particular, the climate of the Po Valley geographical region is mostly continental, with harsh winters and hot summers.The coastal areas of Liguria, Tuscany and most of the south generally conform to a Mediterranean climate pattern (Köppen climate classification Csa). Conditions in the coastal areas of the peninsula are very different from the inland highlands and valleys, especially during the winter months when higher elevations tend to be cold, wet and often snowy. Coastal areas have mild winters and warm and often dry summers, but lowland valleys can be quite hot in summer. Average winter temperatures range from 0 °C in the Alps to 12 °C in Sicily, while average summer temperatures range from 20 °C to 25 °C.</p>
            <img src="~/Content/Images/Home/Handbook/Italy/italy-1.jpg" width="100%" />
            <p class="note-img">Italy in summer</p>

            <p class="handbook-title-1 mt-3">Move</p>
            <img src="~/Content/Images/Home/Handbook/Italy/italy-2.jpg" width="100%" />
            <p class="note-img">Subway in Italy</p>
            <p class="handbook-content-1 mt-2"><b>Subway</b>: this is a commonly used means of transport in Italy, it is fast and punctual. In Italy, they divide the subway into many types, Accelerato, regionale and locale are slow trains, they stop at all stations. Diretto moves faster, stops at fewer stops, Espresso only runs through main cities.</p>
            <p class="handbook-content-1 mt-2"><b>Taxi</b>: in Rome city there are many taxis, however there are many taxis operating without a license and the prices are often much more expensive than licensed taxis. You should only choose taxis that are white or yellow in color, and have the SPQR character right at the front door.</p>
            <p class="handbook-content-1 mt-2"><b>Bus</b>: is a cheap public transportation in Italy. Instead of traveling by taxi, you can save a decent amount of money if you travel by bus.</p>
            <p class="handbook-content-1 mt-2"><b>Motorbikes, bicycles</b>: if you want freedom of time, you can rent a motorbike to walk around the city. Motorbike prices are quite high, for motorbikes under 125 cc you have to pay up to 50 Euro/day, for bicycles it is about 7.5 Euro/day cheaper.</p>

            <p class="handbook-title-1 mt-3">Tourist destination that should not be missed when coming to Italy</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/Images/Home/Handbook/Italy/italy-3.jpg" width="100%" />
            <p class="note-img">The Colosseum</p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/Home/Handbook/Italy/italy-4.jpg" width="100%" />
            <p class="note-img">Florence Cathedral</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/Images/Home/Handbook/Italy/italy-5.jpg" width="100%" height="89.7%"/>
            <p class="note-img">Leaning Tower of Pisa</p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/Home/Handbook/Italy/italy-6.jpg" width="100%" />
            <p class="note-img">Trevi fountain</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-2"><b>Florence Cathedral - The most prominent Gothic architectural work in Italy</b>: Florence Cathedral was built during the Renaissance, featuring a dome design and unique Gothic style. If you have arrived here, you should also stop by to admire the immense vineyards or famous wineries.</p>
            <p class="handbook-content-1 mt-2"><b>Colosseum - The most unique ancient Roman architectural work in the world</b>: although now only ruins remain, the Colosseum is still a symbol proving the greatness and magnanimity of the Roman Empire. is a beautiful and unique ancient architectural work left in the world. Coming to Italy and skipping the Colosseum will be a tourist's biggest mistake.</p>
            <p class="handbook-content-1 mt-2"><b>Basilica of St. Mark - The largest gold-plated structure in Italy</b>: St. Mark's Palace was built in the ancient Byzantine architectural style, with a unique dome and beautiful mosaics, where many other priceless artifacts are kept. In particular, some of the cathedral's towers are plated with shiny gold. On summer afternoons, these towers sparkle and look beautiful under the sunlight.</p>
            <p class="handbook-content-1 mt-2"><b>Leaning Tower of Pisa - Symbol of Italy</b>: if French tourism is famous for the Eiffel Tower, British tourism is famous for Big Ben, then when it comes to the list of famous tourist attractions in Italy, people immediately think of the leaning tower of Pisa. The Tower of Pisa was built in the 12th century, its original shape is not much different from other towers. But because it was built on ground that subsided over time, the tower has the characteristic tilted shape it has today.</p>
            <p class="handbook-content-1 mt-2"><b>Trevi Fountain - The most magnificent sculpture in Rome</b>: in Italy there are many famous architectural works, of which Trevi Fountain is the most unique and magnificent sculpture, attracting thousands Tourists come to visit every year. In the Trevi fountain, the statues of Neptune, Tritons, seahorses, young women... are carved extremely meticulously from limestone and Carrara marble.</p>
            <p class="handbook-content-1 mt-2"><b>Amalfi Coast - The most beautiful beach in Italy</b>: beautiful Amalfi Coast with beautiful rocky beaches, a small town with unique architecture built on the side of hills and cliffs. In particular, the seafood here is also very fresh and cheap. Visitors can both admire the beautiful scenery of Amalfi and enjoy exquisite cuisine. Visiting some towns buried in volcanoes will be a wonderful experience. when traveling in Italy.</p>

            <p class="handbook-title-1 mt-3">Characteristics of staying in Italy</p>
            <p class="handbook-content-1 mt-2">Hotels in Italy all look ancient and quiet on the outside, but inside are equipped with extremely luxurious and modern interiors. Hotels and motels are often concentrated in big cities, places with many outstanding landscapes and tourist attractions.</pclass="handbook-content-1>
            <p class="handbook-content-1 mt-2"><b>Hotels in Rome such as</b>: Grand Hotel Beverly Hills, Viminale Hotel, Hilton Garden Inn Rome</p>
            <p class="handbook-content-1 mt-2"><b>Hotels in Milan include</b>: Ramada Plaza Milano Hotel, Armani Hotel Milano, World Hotel Cristoforo Colombo.</p>
            <p class="handbook-content-1 mt-2">In addition, in Venice, Florence, Pisa... there are many cheap hotels and motels, you can refer to them for more information.</p>

            <p class="handbook-title-1 mt-3">Cuisine</p>
            <img src="~/Content/Images/Home/Handbook/Italy/italy-7.jpg" width="100%" />
            <p class="note-img">Pizza</p>
            <p class="handbook-content-1 mt-2"><b>Pizza</b>: pizza is a famous dish around the world and is known to many people. However, not everyone knows that the homeland of Pizza is Naples - the first seaport city of the Mediterranean.</p>
            <p class="handbook-content-1 mt-2"><b>Spaghetti</b>: also known as Spaghetti, spaghetti is made from semolina flour and water with small, round strands. Spaghetti is often cooked with tomato sauce and many other spices such as oregano, basil, olive oil, meat, etc. When eating, people will sprinkle on the surface of the noodles some types of grated cheese such as Pecorino Romano, Parmedan. and Asiago. Coming to Italy without trying this dish is like not really coming to Italy.</p>
            <p class="handbook-content-1 mt-2"><b>Grilled pork with orange sauce</b>: This dish sounds complicated but is prepared quite simply and does not take much time. People use a piece of pork, marinated with chopped celery, wrapped with thinly sliced ​​salted meat, then tied tightly and fried until golden in olive oil.</p>
            <p class="handbook-content-1 mt-2"><b>Ravioli noodles with spinach and Ricotta cheese</b>: this is a long-standing traditional dish in Italy, this dish first appeared in the 13th century, over the years the dish has been transformed to suit the taste of each region.</p>
            <p class="handbook-content-1 mt-2"><b>Sicil Cannoli</b>: This cake is made by the Sicil people, is one of the famous cakes in Italy and is used a lot in festivals.</p>

            <p class="handbook-title-1 mt-3">Currency used in Italy</p>
            <p class="handbook-content-1 mt-2">Italy belongs to the European Union, so they use the common currency Euro. You should change to Euro currency to spend while traveling in Italy. Additionally, you can also use a credit card to pay your bill.</p>

            <p class="handbook-title-1 mt-3">Souvenirs to buy when coming to Italy</p>
            <img src="~/Content/Images/Home/Handbook/Italy/italy-8.jpg" width="100%" />
            <p class="note-img">Wine in Italy</p>
            <p class="handbook-content-1 mt-2"><b>Fragrant Italian wine</b>: Italian wine is not as famous as French wine, but it will be a great gift after a trip to Italy. You should use home delivery services to avoid strict procedures for alcohol at airport customs.</p>
            <p class="handbook-content-1 mt-2"><b>Unique scarves</b>: you can buy this gift in Rome shops and on Roman market stalls. The scarves use soft, smooth fabric and have beautiful, sophisticated designs.</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>Handmade jewelry</b>: if you cannot afford to buy expensive, luxurious jewelry, you should choose handmade jewelry. The price of this item is quite cheap, beautiful and popular with many tourists.</p>
        </div>
    </div>
</div>