
@{
    ViewBag.Title = "HandbookCantho";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-cantho">
                <p class="titlecontent">Handbook Cantho</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">Originally known as Tay Do - the capital of the Southwest region more than a hundred years ago, Can Tho is one of the most attractive destinations in the South. Can Tho is located in the center of the Mekong Delta, in the lower Mekong River region. Despite the rapid economic development, "Tay Do" still retains the typical cultural features of the river region. Below are suggestions for visitors to comfortably explore all the famous destinations of the Western capital.</p>
            <p class="handbook-title-1 mt-3">Beautiful season</p>
            <p class="handbook-content-1 mt-2">Can Tho is less affected by storms and has pleasant weather all year round, although there are distinct rainy and dry seasons. The most ideal time to travel to Can Tho is in the summer from May to August, when the fruit gardens are in harvest.</p>
            <p class="handbook-content-1 mt-2">September to November is the flood season, suitable for tourists to experience the rustic life of the Western people and enjoy specialties only available when the flood comes. From December to February, the season approaching Tet, Can Tho is filled with colorful flowers.</p>

            <p class="handbook-title-1 mt-3">Move</p>
            <p class="handbook-content-1 mt-2">From the capital Hanoi and Da Nang, you can buy airline tickets from Vietnam Airlines, Bamboo Airways and Vietjet Air... Round-trip ticket prices are about 1,700,000 to 2,000,000 VND.</p>
            <p class="handbook-content-1 mt-2">From Ho Chi Minh City, visitors can ride a motorbike or car and follow National Highway 1A to Can Tho. The travel distance is about 170 km, taking 3 to 4 hours during the day.</p>
            <p class="handbook-content-1 mt-2">If you take a bus, you can go to the Western bus station or the bus companies on Le Hong Phong Street, District 10 to buy a ticket. The price of a bus from Ho Chi Minh City to Can Tho is about 130,000 - 180,000 VND per ticket.</p>

            <p class="handbook-title-1 mt-3">Hotels, resorts</p>
            <p class="handbook-content-1 mt-2">Visitors can choose to stay at a homestay in the city center or a riverside resort depending on their budget. Some high-end accommodation spots are Azerai Can Tho Resort and Victoria Can Tho Resort, priced from about 1,200,000 to 5,000,000 VND per night.</p>
            <p class="handbook-content-1 mt-2">Can Tho is not too developed in terms of homestay accommodation, you can rent a hotel near Ninh Kieu wharf for convenient travel. Average room price is 300,000 VND per night.</p>

            <p class="handbook-title-1 mt-3">Discover</p>
            <p class="handbook-content-1 mt-2"><b>Cai Rang floating market</b>: Floating market is a specialty of the West. If you come to Can Tho and have not gone to Cai Rang floating market, that is truly a big mistake. The market usually operates from dawn, so you have to get up early if you want to fully enjoy the bustling atmosphere of the market. The most ideal time to go to the floating market is around 5am - 7am.</p>
            <p class="handbook-content-1 mt-2"><b>Binh Thuy ancient house</b>: The hundred-year-old house near Binh Thuy canal is one of the most beautiful architectural works in the West. From the city center, you can rent a motorbike or take a taxi to Bui Huu Nghia street, Binh Thuy ward to visit the old house. Entrance ticket is 15,000 VND per person.</p>
            <p class="handbook-content-1 mt-2"><b>Bang Lang stork garden</b>: This is an ideal destination for tourists who want to get away from the hustle and bustle of everyday life. About 50 km from the city center, Bang Lang stork garden is a garden eco-tourism area loved by many people.</p>
            <p class="handbook-content-1 mt-2"><b>Ninh Kieu wharf</b>: After a long day of traveling, in the evening you should go to Ninh Kieu wharf, go to the love bridge, go to the night market to fully feel the rhythm of Can Tho life. Ninh Kieu wharf was built into a park with an area of ​​about 7,000 m2. In the evening, this place attracts many tourists and local people to admire the scenery and enjoy the cool air.</p>
            <p class="handbook-content-1 mt-2"><b>Truc Lam Zen Monastery</b>: Zen monastery in My Nhon hamlet, My Khanh commune, Phong Dien district. The monastery was built in the architectural style of the Ly - Tran dynasties. The main gate is curved arches with stylized dragon heads and wooden doors. Through the main gate is a large brick yard. From here, visitors will see firsthand the majesty of the Main Hall (Dai Hung Buu Dien).</p>
            <p class="handbook-content-1 mt-2"><b>Garden area</b>: Some famous fruit gardens that tourists can refer to are: My Khanh, 9 Hong, Rach Ke, Vam Xang. Visitors can choose and pick fresh fruits themselves and enjoy them right in the garden. Entrance ticket is about 20,000 VND per person, fruit prices will be calculated according to each type and depending on the time.</p>
            <p class="handbook-content-1 mt-2"><b>Con Son</b>: To get to Con Son, you can only rent a boat and take a ferry at Co Bac wharf in alley 13, Le Hong Phong street. Each person only costs 5,000 VND to cross the river. Boats and ferries here operate from 6:00 a.m. to 10:00 p.m.</p>

            <p class="handbook-title-1 mt-3">Cuisine</p>
            <p class="handbook-content-1 mt-2"><b>Bun goi da</b>: The dish tastes quite similar to vermicelli with fish sauce. The sour broth tastes like tamarind and has the characteristic smell of soy sauce. This is the highlight that makes the dish more recognizable. In addition to white vermicelli, a bowl also has red peeled shrimp. Many places add a little grated coconut or balut to make it more flavorful. The price of a bowl is 30,000 VND.</p>
            <p class="handbook-content-1 mt-2"><b>Noodle pizza</b>: This is the name of the deep-fried noodle cake. Before processing, the noodles are dried, marinated with seasoning powder and pepper for aroma. Submerge the noodles in a pan of boiling oil, flip both sides to brown and sprinkle green onion on top. Suggested address is Sau Hoai noodle shop, area 7, An Binh ward, Ninh Kieu district.</p>
            <p class="handbook-content-1 mt-2"><b>Grilled spring rolls cake</b>: Banh hoi is served with grilled spring rolls, raw vegetables of all kinds such as sour star fruit, cucumber, pineapple, green banana, banana flower, kale root, chili, lemongrass... Pick up a little bit of each and roll it into a roll. Banh hoi, grilled spring rolls, crushed roasted peanuts, dipped in a bowl of dipping sauce mixed with enough sour, spicy, salty, and sweet flavors, you can enjoy right away. In Ninh Kieu, diners can eat at Thanh Van restaurant at 17 Hoa Binh Avenue; Co Rom restaurant at 14 Tran Khanh Du or Anh Map at 18 Nguyen An Ninh.</p>
            <p class="handbook-content-1 mt-2"><b>Duck cooked in congee</b>: In addition to porridge, duck salad, roasted duck, duck braised with lemongrass, duck fried in coconut water... duck cooked in congee is also a famous delicacy in Can Tho. Usually the restaurant will serve a pot of duck broth and meats at the customer's request, along with vermicelli, noodles and vegetables like hot pot. In Can Tho, Thanh Giao restaurant on Ly Tu Trong street is one of the famous addresses for this dish. Price from 150,000 VND for a meal for 2 people.</p>
            <p class="handbook-content-1 mt-2"><b>Fried field mice with fish sauce</b>: Quite a popular dish in Can Tho, especially restaurants specializing in Western specialties in the city center for about 75,000 VND per plate.</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>Shrimp and egg salad</b>: The salad is especially attractive when it combines shrimp, eggs and pork skin. When customers call, the seller in turn adds grated papaya, a few shrimp, pork skin, a few slices of egg, and a little dried shrimp. Sprinkle with some herbs, crushed peanuts and finally add a few tablespoons of lemon fish sauce, garlic, and chili. In addition to fruits and seafood, Can Tho also has some specialties you should try such as: noodle soup, banh tet with green leaves, banh xeo with coconut jars, Cai Rang grilled spring rolls, banh tam ta, Phu Sa hotpot, banh culm. ...</p>
        </div>
    </div>
</div>