
@{
    ViewBag.Title = "HandbookDanang";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-danang">
                <p class="titlecontent">Handbook Danang</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">Da Nang city is located in the Central region, equally divided between the capital Hanoi and Ho Chi Minh City. Da Nang is also the center of three world cultural heritages: Hue Imperial City, Hoi An ancient town and My Son Sanctuary. The north of Da Nang borders Thua Thien - Hue province, the west and south border Quang Nam province, and the east borders the East Sea.</p>
            <p class="handbook-title-1 mt-3">Which season is beautiful in Da Nang?</p>
            <p class="handbook-content-1 mt-2">Da Nang is a transitional place between the Northern and Southern climates, with the dominant tropical climate in the South. Each year there are two distinct seasons: the dry season from January to July and the rainy season from August to December. Sometimes there are cold spells in winter but they do not last long and the weather is not very cold.</p>
            <p><b>Late December to late March</b>: The weather is cool and pleasant, most ideal for spring trips. Prices for hotel and food services at this time are said to be the most stable of the year. Note, visitors should bring a thin jacket because it can be chilly in the evening, and sometimes there is spring rain.</p>
            <p><b>Early April to mid-September</b>: This is the best time to travel to Da Nang, but it is also the peak summer tourism season, quite crowded and expensive. April is the season when forest trees change their yellow and red leaves on Son Tra peninsula.</p>
            <p><b>Mid-September to late December</b>: The weather is no longer hot, it starts to rain sporadically but does not last long. The peak season has passed, so air tickets, accommodation services, and meals are reasonably priced.</p>
            <img src="~/Content/Images/Home/Handbook/Danang/danang-1.jpg" width="100%" />
            <p class="note-img">DaNang displays fireworks</p>

            <p class="handbook-title-1 mt-3">Move</p>
            <p class="handbook-content-1 mt-2">Tourists from Hanoi and Ho Chi Minh City often travel by plane, with ticket prices ranging from 1,300,000 - 3,000,000 VND round trip, depending on the time of booking. Flight time is about 1 hour.</p>
            <p class="handbook-content-1 mt-2">With more time, visitors can take the train to experience the scenery along the way, especially the section through Hai Van Pass if you come from the north. Train tickets from Hanoi or Ho Chi Minh City to Da Nang cost from about 600,000 VND to 1,100,000 VND one-way, corresponding to air-conditioned soft seats and four air-conditioned sleeper beds. Travel time is about 17 to 18 hours.</p>
            <p class="handbook-content-1 mt-2">If you plan to drive your own car, you need to spend at least a week on your trip to Da Nang and have two drivers take turns driving. From Hanoi, it is ideal to depart at noon or early afternoon and stay one night in Nghe An. If you go later, sleep in Thanh Hoa, the next morning depart for Da Nang. In the afternoon, you can stop in Quang Binh to both rest and explore more.</p>
            <p class="handbook-content-1 mt-2">In Da Nang, guests should rent motorbikes or cars to move flexibly. Renting a car is quite convenient, can be delivered at the airport or hotel for an average price of 100,000 VND for motorbikes and about 1,000,000 VND for cars per day.</p>
            <img src="~/Content/Images/Home/Handbook/Danang/danang-2.jpg" width="100%" />
            <p class="note-img">Dragon Bridge</p>

            <p class="handbook-title-1 mt-3">Hotels and resorts</p>
            <p>Tourism in Da Nang is developing rapidly. Along the coastal road, visitors can easily find hotels with many different prices. Besides, Da Nang also has many other forms of accommodation such as homestays, apartments, and dormitories located in the center. Depending on budget and needs, visitors can choose the appropriate option, but they should book in advance to avoid being sold out on weekends and peak seasons.</p>
            <p>Because the weather in the Central region is quite cold at night at the beginning of the year, visitors should choose self-contained rooms with full amenities such as private bathroom, water heater, hair dryer, iron and laundry service. shirt... Room prices at 4-star hotels start from about 500,000 VND per night.</p>
            <p>Famous 5-star resorts and hotels in Da Nang you can refer to include InterContinental Danang Sun Peninsula Resort, Hyatt Regency Danang Resort and Spa, Pullman, Furama Resort Danang, Four Points by Sheraton Danang, Novotel, Hilton, Fusion Suites , Danang Golden Bay Hotel... Room prices range from 1,200,000 to 10,000,000 VND per night.</p>

            <p class="handbook-title-1 mt-3">Discover</p>
            <p class="handbook-content-1 mt-2"><b>Son Tra Peninsula</b>: Considered the precious gem of Da Nang, Son Tra Peninsula possesses a large primeval forest and many beautiful beaches such as Tien Sa, Da Den, But Beach... The road on the peninsula Winding through locations where you can see the entire city from above such as Ban Co peak, Linh Ung pagoda, Vong Canh house, Son Tra lighthouse, "Indochina magic eye" radar station.</p>
            <p class="handbook-content-1 mt-2"><b>Suoi Tien</b>: Suoi Tien is one of the large streams originating from Son Tra peak - one of the beautiful destinations like a fairyland with white waterfalls, rocks with many unique shapes, and wild flowers blooming. color and sweet fragrance. Coming to Suoi Tien, you will be immersed in beautiful and colorful nature.</p>
            <p class="handbook-content-1 mt-2"><b>Ba Na Hills</b>: This tourist destination is about 40 km from Da Nang. Visitors can experience the chilly air and four-season weather during the day when visiting prominent attractions such as Linh Ung Pagoda, Debay Wine Cellars, Le Jardin D'Amour flower garden, Golden Bridge... Overnight The French village is also an interesting experience for visitors to Ba Na.</p>
            <p class="handbook-content-1 mt-2"><b>Gieng Troi</b>: Located in the Ba Na - Nui Chua conservation area, Gieng Troi has a wild landscape that is a source of inspiration for backpackers, with types of picnics such as trekking, climbing, camping or bathing in streams.</p>
            <p class="handbook-content-1 mt-2"><b>Marble Mountains</b>: 8 km from the center of Da Nang, Ngu Hanh Son is home to many sacred temples and a system of natural caves. Following the coastal road stretching as far as the eye can see towards Hoi An, opening before visitors' eyes is a giant "rockery" called Ngu Hanh Son. With names given according to the theory of the five elements including Kim Son, Moc Son, Thuy Son, Hoa Son and Tho Son, each mountain here carries with it different legendary stories and mysterious beauty.</p>
            <p class="handbook-content-1 mt-2"><b>Hai Van Pass</b>: Hai Van Pass is about an hour by motorbike from the center of Da Nang. The pass is 21 km long, with the highest peak 496 m above sea level. Hai Van means "sea of ​​clouds". This place was once commented by Jeremy Clarkson, host of the reality TV show Top Gear (UK), as "one of the most beautiful coastal roads in the world".</p>
            <p class="handbook-content-1 mt-2"><b>Nam O Reef</b>: Located about 17 km from the center, Nam O Reef is in Hoa Hiep Nam ward, Lien Chieu district, Da Nang city. The name Nam O refers to the southern gate of Dai Viet country from 700 years ago. This is a densely populated place, mainly practicing fishing gear. Nam O is also famous for making traditional firecrackers and fish sauce.</p>
            <p class="handbook-content-1 mt-2"><b>Craft village</b>: 14 km southwest of Da Nang center, Cam Ne mat village belongs to Hoa Tien commune, Hoa Vang district. This place has long been famous for traditional flower mats, which were once present in the Nguyen dynasty.</p>
            <p class="handbook-content-1 mt-2"><b>Hoa Trung Lake</b>: This is an artificial lake, providing water for daily life and farming for people in Hoa Lien and Hoa Son communes, Lien Chieu district. The lake is surrounded by floating islands, suitable for tourists who like to explore, camp, and picnic. You should prepare adequate food and water for camping overnight by the lake, but be careful to clean up and bring trash home.</p>
            <p class="handbook-content-1 mt-2"><b>Ecotourism area</b>: Suggested addresses are Hoa Bac commune ecotourism area, Lai Thieu ecotourism area, Suoi Hoa Ecological Area, Suoi Luong - Hai Van Park Ecological Area, Hoa Phu Tourist Area Citadel, Ngam Doi Ecotourism Area, Than Tai Mountain Hot Springs Park, Phuoc Nhon Hot Mineral Tourist Area... Most of the ecological areas provide entertainment, dining, and accommodation services. ... and there is an entrance fee.</p>
            <p class="handbook-content-1 mt-2"><b>Cruise on the Han River</b>: The boat takes guests from the tourist wharf down the Han River, viewing the city center at night and admiring the unique bridges of Da Nang. The boat serves food, music... depending on the needs of tourists. Some tours offer sightseeing experiences, dinner, watching the Dragon Bridge breathe fire... ticket prices range from 150,000 to 500,000 VND per person.</p>
            <img src="~/Content/Images/Home/Handbook/Danang/danang-3.jpg" width="100%" />
            <p class="note-img">Dragon Bridge</p>

            <p class="handbook-title-1 mt-3">Cuisine</p>
            <p class="handbook-content-1 mt-2"><b>Mi Quang</b>: Quang noodles do not have an "immutable" formula, but are very diverse in flavors such as Quang noodles with shrimp and meat, Quang noodles with snakehead fish, Quang noodles with crab meat... Quang noodles are a dry dish and a bowl of noodles. Noodles never lack roasted peanuts and crispy toasted sesame rice paper.</p>
            <p class="handbook-content-1 mt-2"><b>Pork rice paper</b>: A fairly simple dish, however, it is the careful selection of ingredients that makes the dish special. Pork is only taken from the butt or shoulder, the accompanying vegetables must be fresh and green such as lettuce, basil, fish mint, banana flower, cucumber, green banana, bean sprouts... Seasoning sauce of meat rolls Pork is an irreplaceable dipping sauce. Pork rice paper sold in portions costs about 50,000 - 200,000 VND per portion.</p>
            <p class="handbook-content-1 mt-2"><b>Cau Mong braised veal</b>: Da Nang people also call this dish with the familiar name "Cau Mong rare beef". When the veal is taken out of the oven, it must have two layers of rare, well-cooked meat, with the skin cooked to the point of transparency while being both crispy and soft.</p>
            <p class="handbook-content-1 mt-2"><b>Nam O fish salad</b>: The fish used to make this dish can be from sardines, anchovies, tilapia... however the most delicious is still herring. The characteristic feature of Nam O fish salad is the dipping sauce made from boiled fish juice, mixed with Nam O fish sauce, chili, tapioca starch, and MSG. In addition to the usual accompanying vegetables, Nam O fish salad also has wild toadstools, bamboo shoots, brocade leaves, orchid hearts... which only grow on Hai Van pass.</p>
            <p class="handbook-content-1 mt-2"><b>Banh xeo with spring rolls</b>: Delicious banh xeo shops are concentrated on Hoang Dieu, Trung Nu Vuong, Chau Thi Vinh Te, and Dong Da streets. The average price is from 20,000 to 100,000 VND per portion depending on the number of cakes and spring rolls.</p>
            <p class="handbook-content-1 mt-2"><b>Bun mam seasoning</b>: This is a popular specialty that is easy to find in Da Nang. A full bowl of vermicelli has pork, pig ears, beef patties, spring rolls, herbs, papaya fibers or thinly sliced ​​young jackfruit, and a cup of seasoning sauce. The indispensable spices of Quang dish are the nutty taste of peanuts and the crunchy cake.</p>
            <p class="handbook-content-1 mt-2"><b>Grilled meat vermicelli</b>: Like seasoned fish sauce vermicelli, grilled meat vermicelli is a familiar dish to Da Nang people. This dish is very easy to find, priced around 15,000 - 30,000 VND per bowl. Grilled pork vermicelli in Da Nang is served with soy sauce, a fatty and rich taste made from pork liver, ground meat, soy sauce and some other ingredients.</p>
            <p class="handbook-content-1 mt-2"><b>Mixed jackfruit</b>: Mixed jackfruit is a favorite dish of many people, the main ingredients are young jackfruit, pork skin, dried beef, along with peanuts, mix well then break off a piece of rice paper and scoop it up to eat. The price of each plate of mixed jackfruit is about 20,000 VND.</p>
            <p class="handbook-content-1 mt-2 mb-4"><b>Snails</b>: Snails in Da Nang are often prepared in many flavors: from stir-fried with coconut, stir-fried with lemongrass and chili to boiled, all fragrant and hot. This dish is served with sour and spicy papaya strips according to Central taste. Price per portion ranges from 15,000 to 30,000 VND.</p>
        </div>
    </div>
</div>