
@{
    ViewBag.Title = "HandbookFrance";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-france">
                <p class="titlecontent">Handbook France</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">France is located in Western Europe and is bordered to the North by the North Sea, to the Northwest by the English Channel, to the West by the Atlantic Ocean, and to the Southeast by the Mediterranean Sea. Mainland France borders Belgium and Luxembourg to the Northeast, to the East is Switzerland and Germany, to the South and Southwest is Spain and Andorra, to the Southeast is Manaco and Italy.</p>
            <p class="handbook-title-1 mt-3">A few words about France</p>
            <p class="handbook-content-1 mt-2">French tourism always has a strong attraction for domestic and international tourists. France brings tourists many interesting experiences and unforgettable impressions.</p>
            <img src="~/Content/Images/Home/Handbook/France/france-1.jpg" width="100%" />
            <p class="note-img">A small corner in France</p>

            <p class="handbook-title-1 mt-3">Climate</p>
            <p class="handbook-content-1 mt-2">France is a year-round destination for tourists. This country has a mild climate, cool winters with snow and long hot summers.</p>
            <p class="handbook-content-1 mt-2">In the summer, from June to August is the peak time, hot weather covers the whole country. France at this time has a large number of tourists.</p>
            <p class="handbook-content-1 mt-2">In the South of France, during spring the climate is always mild and warm, autumn in France is cooler and more peaceful, the scenery is quiet.</p>
            <p class="handbook-content-1 mt-2">Rieeg winter in France, when the snow begins to fall heavily, the number of French tourists coming to ski also increases sharply.</p>
            <p class="handbook-content-1 mt-2">The northeastern regions in France have colder winters and warm summers. Snow falls a lot in winter and rain is evenly distributed throughout the year.</p>
            <p class="handbook-content-1 mt-2">The Atlantic Ocean has a climate that directly affects the climate of the western coastal regions of France. The weather here is temperate with quite high rainfall throughout the year. The summer weather in France is very hot, if you travel to France this season, you should use enough items to protect your skin.</p>

            <p class="handbook-title-1 mt-3">Move</p>
            <img src="~/Content/Images/Home/Handbook/France/france-2.jpg" width="100%" />
            <p class="note-img">Moving in France</p>
            <p class="handbook-content-1 mt-2"><b>Taxi</b>: Tourists choose to sit in a taxi to go to French tourist destinations and move around the city, bringing convenience and speed. However, this type of vehicle in France is quite expensive.</p>
            <p class="handbook-content-1 mt-2"><b>Metro</b>: In France, the subway system is widely distributed, modern and scientifically arranged. Traveling by subway in France is quite fast, the service is quality, professional and dedicated.</p>
            <p class="handbook-content-1 mt-2"><b>Bus</b>: This is public transportation in France that operates 24/7. If you want to explore and see Paris at night, this means of transportation is the best choice.</p>
            <p class="handbook-content-1 mt-2"><b>Walking</b>: In France, every destination, road, and city has a very clear address and name. You can walk to see the panoramic view of the attraction and have time to take more photos.</p>

            <p class="handbook-title-1 mt-3">Tourist attractions that should not be missed when coming to France</p>
            <img src="~/Content/Images/Home/Handbook/France/france-3.jpg" width="100%" />
            <p class="note-img">France</p>
            <p class="handbook-content-1 mt-2"><b>Eiffel Tower</b>: when coming to France, of course the Eiffel Tower will be the first destination that every tourist chooses. The Eiffel Tower in Paris is located right next to the poetic and romantic Senni River.</p>
            <p class="handbook-content-1 mt-2"><b>Notre Dame Cathedral in Paris</b>: Notre Dame Cathedral is a famous place when it comes to France. You are completely free to visit the church and take photos outside. But the number of tourists is quite large, you need to line up to enter. If you want to visit the church and see the bell tower, you need to buy a ticket, the price is about 10 Euros.</p>
            <p class="handbook-content-1 mt-2"><b>Avenue Champ Elysse and Arc de Triomphe - Arc de Triomphe</b>: these are roads lined with marble of remarkable length and width. Coming to the avenue, you will be walking on typical streets in Paris, at the end of the avenue is the Arc de Triomphe. All roads lead here.</p>
            <p class="handbook-content-1 mt-2"><b>Louvre Museum</b>: This is where many famous works of art are stored, especially the Mona Lisa painting. You can visit the paintings outside for free, but if you want to go inside you must buy a ticket.</p>
            <p class="handbook-content-1 mt-2"><b>Montmatre Hill</b>: this is a location in district 18, where many famous artists once gathered. At Montmatre hill, there are many restaurants, cafes, and small streets. You can come to this tourist destination to explore and experience interesting things.</p>

            <p class="handbook-title-1 mt-3">Culinary culture and specialties in France</p>
            <img src="~/Content/Images/Home/Handbook/France/france-4.jpg" width="100%" />
            <p class="note-img">French wine</p>
            <p class="handbook-content-1 mt-2"><b>French wine</b>: When talking about France, it is impossible to mention wine. It can be said that France is the ancient cradle of the wine industry in Europe. French wine brands are famous around the world: Burgundy, Alsace, Provence, Bordeaux...</p>
            <p class="handbook-content-1 mt-2"><b>Bread</b>: French bread is one of the brands known to many people around the world. Bread appears in most daily meals of French people. The French use bread to eat with pate, sauce, hot chocolate... France has many different types of bread, the flavors of the bread also bring differences to the enjoyer.</p>
            <p class="handbook-content-1 mt-2"><b>Cheese</b>: it is known that France has the highest cheese consumption in the world. Coming to France, you can encounter over 500 types of cheese with different unique flavors.</p>
            <p class="handbook-content-1 mt-2"><b>Crepe</b>: This type of cake in France has many types, from sweet to salty or bland. The fillings in Crepe cakes are very diverse, and the cakes are prepared with beautiful shapes.</p>
            <p class="handbook-content-1 mt-2"><b>Grilled lamb chops</b>: grilled lamb chops in France are also loved by locals and tourists. Grilled lamb chops when eaten with potatoes and cherry sauce will bring a delicious and irresistible flavor.</p>

            <p class="handbook-title-1 mt-3">Currency used in France</p>
            <img src="~/Content/Images/Home/Handbook/France/france-5.jpg" width="100%" />
            <p class="note-img">Euro</p>
            <p class="handbook-content-1 mt-2">In France, the common currency used is the Euro. You can exchange enough cash in Vietnam, in all denominations for convenience. In France, the common European currency is currently used: Euro.</p>

            <p class="handbook-title-1 mt-3">Souvenirs</p>
            <img src="~/Content/Images/Home/Handbook/France/france-6.jpg" width="100%" />
            <p class="note-img">France wine</p>
            <p class="handbook-content-1 mt-2">Macarons from shops</p>
            <p class="handbook-content-1 mt-2">Calvados wine.</p>
            <p class="handbook-content-1 mt-2">French soap.</p>
            <p class="handbook-content-1 mt-2">Local bottles of wine.</p>
            <p class="handbook-content-1 mt-2">Perfume.</p>
            <p class="handbook-content-1 mt-2">Berets.</p>
            <p class="handbook-content-1 mt-2 mb-4">Cheese.</p>
        </div>
    </div>
</div>