
@{
    ViewBag.Title = "HandbookKorea";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-handbook-korea">
                <p class="titlecontent">Handbook Korea</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-4">In recent years, Korea has become a famous tourist destination around the world. This place has a temperate climate with four distinct seasons, bringing a feeling of relaxation and comfort. The land of kimchi also impresses with its massive architecture and diverse cultural and culinary space.</p>
            <p class="handbook-title-1 mt-3">Four seasons in Korea</p>
            <p class="handbook-content-1 mt-2">Korea has four distinct seasons. Spring is from March to May, the weather is warm. If you travel during this season, you will find your love for Korea doubled because the weather and nature are both very beautiful. This is an ideal time for outdoor activities, especially with many flower festivals held across the country.</p>
            <img src="~/Content/Images/Home/Handbook/Korea/korea-1.jpg" width="100%" />
            <p class="note-img">Korea in winter</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <img src="~/Content/Images/Home/Handbook/Korea/korea-2.jpg" width="100%" />
        </div>
        <div class="col-md-6 mb-3">
            <img src="~/Content/Images/Home/Handbook/Korea/korea-3.jpg" width="100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="handbook-content-1 mt-2">Kkotnori (flower viewing) and sangchungaek (flower picking) are words used every day as people travel around the country to admire colorful flowers. Some famous flower festivals in spring include Yeouido Spring Flower Festival, Jinhae Gunhangje Festival, Gurye Sansuyu Flower Festival, Korean Goyang International Floriculture and Jeju Canola Flower Festival.</p>
            <p class="handbook-content-1 mt-2">Summer starts in June and ends in August, which is the time for beach lovers. Korea has the advantage of many beaches with beach festivals taking place everywhere. If the Boryeong Mud Festival at Daecheon Beach is the most famous internationally, festivals at five major beaches such as Haeundae and Gwangalli also attract crowds of visitors with fireworks displays and concerts. vibrant. Yangyang in Gangwon-do is ideal for surfers. Daegu, famous for being the hottest city in Korea, is where the Chimac festival takes place. Here you will have unforgettable experiences with fried chicken and cold beer.</p>
            <p class="handbook-content-1 mt-2">Clear blue skies cover Korea during autumn. Tourists should go to the forest during autumn in Korea because the bright red, yellow, and orange autumn leaves are an extremely lively and captivating scene. Seoraksan, Naejangsan and Jirisan mountains are famous destinations for autumn leaf lovers.</p>
            <p class="handbook-content-1 mt-2">Winter starts in December and ends in February. The weather is cold, making it an ideal time for winter sports lovers, especially skiing and snowboarding. Visitors can also experience ice fishing at the Hwacheon Sancheoneo ice festival and the Pyeongchang salmon festival. Winter is also an ideal time to go hiking at Seonjaryeong Pass and Taebaeksan Mountain in Gangwon-do. Both of these routes have stunning scenery that lasts until early March.</p>

            <p class="handbook-title-1 mt-3">Entry conditions</p>
            <p class="handbook-content-1 mt-2">The Korean government said it will reissue C-3 short-term visas to tourists from level 1 countries, including Vietnam, from June 1. The Korean government has removed many disease prevention restrictions, however, international visitors still need negative Covid-19 test results (PCR or rapid test) before entering the country. Within 72 hours of entering Korea, visitors will have to take a PCR test. The country also lifted the requirement to wear masks outdoors.</p>

            <p class="handbook-title-1 mt-3">Move</p>
            <p class="handbook-content-1 mt-2">Vietnam has direct flights to Korea through airlines such as Vietjet Air, Vietnam Airlines of Vietnam and Korean Airlines, Asiana Airlines of South Korea.</p>
            <p class="handbook-content-1 mt-2">There are currently direct flights to Korea from Vietnamese airlines such as Vietjet Air (ticket price from 540,000 VND for the Hanoi - Busan route, and for the Ho Chi Minh City - Seoul route, ticket price from 1,450,000 VND, all excluding taxes, fees, and transportation). consignment agent); Vietnam Airlines (Ho Chi Minh City - Seoul route from 4.6 million VND, Hanoi - Busan route from 8 million VND, ticket includes taxes, fees and checked baggage). Additionally, guests can buy tickets from Korean Airlines. Asiana Airlines' ticket price is from 8 million VND per route, Korean Air's is from 13 million VND per route from Ho Chi Minh City or Hanoi to Seoul, including taxes, fees and checked baggage.</p>
            <p class="handbook-content-1 mt-2">Passengers entering the country can use the AREX express train, which connects Incheon Airport Terminals 1 and 2 to Seoul Station and vice versa. Travel time is about 43 minutes. Ticket price is 9,500 won (nearly 180,000 VND) per person.</p>
            <p class="handbook-content-1 mt-2">Domestic transportation: subway, bus, taxi...</p>
            <p class="handbook-content-1 mt-2">Subway: in big cities like Seoul, Busan, Incheon, visitors can use Google Maps or the subway finder app to know the nearest station. The train's operating hours are from 5:30 to 24:00. Advantages: No traffic jams, safe, fast and an opportunity to experience a new way of traveling. Disadvantages: During three hours or special occasions, you often have to stand, only focusing in big cities.</p>
            <p class="handbook-content-1 mt-2">Bus: Present in most provinces and cities. Visitors just need to look up google maps to find the nearest bus station. There is a trip every 10-15 minutes or follow the electronic board at the station. Advantages: Convenient to go to many places, low cost - Disadvantages: Waiting time can affect travel plans.</p>
            <p class="handbook-content-1 mt-2">Taxi: Call the switchboard, hail a taxi on the street or use a taxi booking app. From 24h to 4h increase 20% fee. Advantages: Clean, airy, affordable, flexible schedule. Disadvantages: Highest cost among all types. Be sure to check whether the meter is turned on or not.</p>

            <p class="handbook-title-1 mt-3">Visiting sites</p>
            <p class="handbook-content-1 mt-2"><b>DMZ</b>: this place not only holds haunting memories of the Korean War seven decades ago, but is also a pristine ecosystem. This is one of many destinations tourists should explore during their stay in Korea.</p>
            <p class="handbook-content-1 mt-2"><b>Famous tourist destinations in Seoul</b>: include palaces such as Gyeongbokgung, Changdeokgung, Changgyeonggung, Deoksugung; National Museum of Modern and Contemporary Art; Gwanghwamun Square; Bukchon Hanok Village; Namsan Park and Namsan Tower; The Blue House (residence of the Korean president), is open to visitors with 4 tours per day. Travelers must register online at least three weeks before their trip. In addition, Seoul is also famous for many streets such as Dongdaemun fashion street, Itaewon neighborhood, Insangdong, Hongdae...</p>
            <img src="~/Content/Images/Home/Handbook/Korea/korea-4.jpg" width="100%" />
            <p class="note-img">Changgyeonggung Palace, Seoul</p>
            <p class="handbook-content-1 mt-2"><b>Attractions in Busan</b>: Haeundae & Gwangalli Beach; Sea Life Aquarium; BAY building - the most beautiful view of the coastal city at night; Suyeongman Cruise Center; Shinsegae Centum City - Guinness Book of Records recognized this shopping complex as "the world's largest shopping center" in 2009; Joseon Tongsinsa History Museum; Hwangnyeongsan Observatory; Busan Tower...</p>
            <p class="handbook-content-1 mt-2"><b>Attractions in Gwangwon</b>: Nami Island; Dakgalbi Chuncheon Myeongdong Street; Chuncheon Joongang traditional market; Ocean World water park...</p>
            <p class="handbook-content-1 mt-2"><b>Attractions in Jeju</b>: Udo Island; Aqua Planet - the country's largest aquarium; Seopjikoji - where a sea of ​​yellow mustard flowers bloom in March-April; Rimg Bijarim forest; Mazeland maze park...</p>
            <p class="handbook-content-1 mt-2">Walking tours to explore Korea: Ansan Jarakgil trail in Seoul, Jeju Olle trail, Hanyangdoseong trail...</p>
            <img src="~/Content/Images/Home/Handbook/Korea/korea-5.jpg" width="100%" />
            <p class="note-img">Namsan Tower, Seoul</p>

            <p class="handbook-title-1 mt-3">Experience nightlife</p>
            <p class="handbook-content-1 mt-2">Korea is a sleepless country, the lights are on all night, so the evening here is still as lively and bustling as the day. Many shopping areas and night markets are open until late, so visitors can enjoy shopping and entertainment.</p>
            <p class="handbook-content-1 mt-2"><b>Night shopping</b>: Dongdaemun Fashion Market is located in the capital Seoul. This is a great place for you to shop for trendy clothes at affordable prices. The most famous shopping area here is Doota Mall.</pclass="handbook-content-1>
            <p class="handbook-content-1 mt-2"><b>Night market food tour</b>: depending on where you go, visitors can enjoy a variety of dishes.</p>
            <p class="handbook-content-1 mt-2">You can eat fried chicken, stir-fried beef, steamed and fried pork intestines... right in the middle of the night at Jeonju nambu market in Jeollabuk. At Busan Bupyeong Kkangtong night market, local specialties are sold in abundance such as fried beans stuffed with vegetables, seafood and vermicelli; fish cake... If you visit Daegu Seomun night market with more than 80 food stalls serving dishes such as pig stomach, grilled skewers, sushi and grilled meat... Other night markets that visitors can visit are Daein Art in Gwangju, Bamdokkaebi in Seoul... At Noryangjin seafood wholesale market, the largest fish market in Seoul, visitors can enjoy seafood until midnight.</p>
            <p class="handbook-content-1 mt-2"><b>Night attractions</b>: cultural heritage sites in central Seoul are quiet and contemplative when night falls. Naksan Mountain Road of Hanyangdoseong Seoul City Wall stretches from Hyehwamun Gate to Heunginjimun Gate, and is a very interesting night walking route. The approximately 1-hour walk along the fortress in a warm space under dim lights is an unforgettable experience.</p>
            <p class="handbook-content-1 mt-2">Deoksugung and Changgyeonggung Palaces are open until 9:00 p.m. (tickets sold until 8:00 p.m.) and are gorgeously lit at night. Changdeokgung Palace, a UNESCO world heritage site, offers a "Moonlight" tour from spring to fall. Buying this tour, visitors will be accompanied by a tour guide and watch traditional performances. Gyeongbokgung Palace is also open in the evening from spring to fall. You can fly in a hot air balloon and enjoy stunning views of the fortress from a height of 150 meters.</p>
            <p class="handbook-content-1 mt-2"><b>Gaming</b>: Korean gamers and gaming teams are famous around the world. And playing online games is a favorite entertainment among young people in this country. You can visit internet cafes equipped with computers to play games. These shops are often equipped with the most modern and fastest computers; best keyboard and headset. Customers coming to the restaurant are also given ramyeon noodles (instant noodles) and spicy rice cakes. Korea has a youth protection law, so underage children cannot play games between 10pm and 9am the next day. Therefore, visitors need to bring their passport to go to the restaurant after 10:00 p.m.</p>
            <p class="handbook-content-1 mt-2"><b>Jjimjilbang</b> is a Korean-style sauna. Here, you can eat, relax and even sleep over. People often like to eat boiled eggs with sweet rice wine while chatting with friends at jjimjilbang.</p>

            <p class="handbook-title-1 mt-3">Beautiful photography locations</p>
            <p class="handbook-content-1 mt-2"><b>Ganmun Beach</b> in Gangneung area, Gwangwon Province is not too large but has many lovely photo spots, helping you take perfect pictures.</p>
            <p class="handbook-content-1 mt-2">The coastal city of <b>Woljeongri</b> on Jeju Island is the perfect place to see the emerald blue ocean. Tewoo Beach on Jeju Island is famous for its unique horse-shaped lighthouse and breathtaking sunsets.</p>
            <p class="handbook-content-1 mt-2"><b>Gamcheon Cultural Village</b> in Busan is the perfect backdrop for beautiful photos thanks to its colorful houses located on the mountainside.</p>
            <img src="~/Content/Images/Home/Handbook/Korea/korea-6.jpg" width="100%" />
            <p class="note-img">Andong City</p>
            <p class="handbook-content-1 mt-2"><b>Dongpirang Mural Village</b> in Tongyeong, Gyeongsangnam Province is a small port town. Coming to this place, you feel like you are lost in a different world with colorful walls.</p>
            <p class="handbook-content-1 mt-2"><b>The train village in Gunsan</b>, Jeollabuk Province is an attractive photo spot thanks to the houses located opposite each other across the decommissioned train tracks.</p>
            <p class="handbook-content-1 mt-2"><b>Penguin Village in Gwangju</b> has houses and alleys decorated with beautiful little trinkets.</p>
            <img src="~/Content/Images/Home/Handbook/Korea/korea-7.jpg" width="100%" />
            <p class="note-img">Bulguksa Temple in Gyeongsangbuk Province</p>

            <p class="handbook-title-1 mt-3">New destinations</p>
            <p class="handbook-content-1 mt-2"><b>Ikseondong, Seoul</b>: located in the center of the capital, Ikseandong has many small alleys with rows of hanok houses (traditional houses) built in the 1920s. Today, these houses are renovated to serve as restaurants and bars. Korean-style cafes and bars.</p>
            <p class="handbook-content-1 mt-2"><b>Euljiro, Seoul</b>: this area used to be a maze of alleys. Today, this place is bustling with shops with ancient architecture, but the interior has been renovated with a modern style. Nogari Alley in this area has many restaurants specializing in serving delicious beer and nogari to visitors.</p>
            <p class="handbook-content-1 mt-2"><b>Geahangro, Incheon</b>: old buildings are brought back to life and converted into businesses like an art gallery, a 100-year-old house converted into a fried chicken shop. Incheon is the closest city to Seoul, so it is very convenient for tourists to visit.</p>
            <p class="handbook-content-1 mt-2"><b>Hwangnidangil, Gyeongju</b>: Once the capital of the Silla Kingdom for nearly 1,000 years, today Hwangnidangil city is famous for its many rooftop cafes, where visitors can view hanok houses from above. After sightseeing, you can also freely shop at many souvenir shops on the street.</p>

            <p class="handbook-title-1 mt-3">Unique places to stay</p>
            <p class="handbook-content-1 mt-2">To gain a deeper understanding of Korean culture and nature, you should experience a full day and night at traditional accommodation establishments, KTO Vietnam advises.</p>
            <img src="~/Content/Images/Home/Handbook/Korea/korea-8.jpg" width="100%" />
            <p class="note-img">Chungcheongnam province</p>
            <p class="handbook-content-1 mt-2">Gyeong Won lae Ambassador: Traditional houses stand out amid the modern scene in Songdo, Incheon This hotel has a hanok-like structure and gives visitors the feeling of living in a traditional house. However, because many visitors are not used to sitting on the floor, there are beds and tables in a modern style.</p>
            <p class="handbook-content-1 mt-2">Gurume Resort in Andong, Gyeongsangbuk-do: this is a real hanok house, converted into a motel. During your stay, you can visit the book cafe for rest and entertainment,</p>
            <p class="handbook-content-1 mt-2">Ragung Hotel in Gyeongju, Gyeongsangbuk-do has an open-air but still private bathing space, helping you relax after a long day of sightseeing.</p>
            <p class="handbook-content-1 mt-2">Hanok Village gives you the opportunity to admire beautiful sea views through traditional fences. In addition to the above hotels, there are also many hanok guesthouses in Seoul and Jeju.</p>
            <img src="~/Content/Images/Home/Handbook/Korea/korea-9.jpg" width="100%" />
            <p class="note-img">A small corner in Bukchon Hanok village</p>
            <p class="handbook-content-1 mt-2">Shilla Jeju gives you a luxurious camping experience, with tents as big as living rooms, including beds, sofas, and tables. Despite being outdoors, these tents are still fully equipped and bring a pleasant feeling. You can also stay at a similar place, the Kensington Flora hotel in Pyeongchang, Gangwon or the Mangsang Auto Campine in front of Mangsan beach.</p>

            <p class="handbook-title-1 mt-3">Eat and drink</p>
            <p class="handbook-content-1 mt-2">Soju: The most famous Korean beverage. Soju is sold at convenience stores diluted, and is a popular drink because of its affordable price.</p>
            <p class="handbook-content-1 mt-2">Makgeolli: this traditional low alcohol wine has a sweet and aromatic taste. Makgeolli wine is often used by people with pajeon (green onion pancake) made from flour, meat and vegetables.</p>
            <p class="handbook-content-1 mt-2">Craft beer can be found almost everywhere in Korea such as Gangneung, Jeju, Andong and Sunchang, you can easily buy it at convenience stores, supermarkets...</p>
            <p class="handbook-content-1 mt-2"><b>Bibimbap</b> is a particularly popular mixed rice dish with eye-catching colors and a variety of ingredients including fresh vegetables, beef, gochujang chili sauce, rice and sesame oil. Bibimbap served in a hot stone bowl is an extremely popular dish.</p>
            <p class="handbook-content-1 mt-2"><b>Fried chicken</b> is a dish that often appears in movies. The chicken has a crispy exterior and soft meat on the inside. The dish attracts diners because it combines many traditional spices, often served with cold beer.</p>
            <p class="handbook-content-1 mt-2"><b>Bulgogi</b> consists of thinly sliced ​​beef marinated with sweet soy sauce, sugar, and garlic, then pan-fried or grilled over charcoal. Seoul-style Bulgogi is prepared in a unique way, using a special grill pan. The concave part of the pan is used to cook meat, while the upper part of the pan is used to cook sauce, usually containing mushrooms, vegetables and vermicelli. In other regions, there are also ways to cook bulgogi.</p>
            <img src="~/Content/Images/Home/Handbook/Korea/korea-10.jpg" width="100%" />
            <p class="note-img">In people's meals, kimchi is an indispensable dish</p>
            <p class="handbook-content-1 mt-2">Some other equally famous dishes are spicy rice cakes, ginseng stewed chicken, hongeo samhap (sliced ​​fermented stingray, pork and kimchi), chopped raw octopus marinated in sesame oil, grilled pork belly, cold noodles...</p>
            <p class="handbook-content-1 mt-2"><b>Korean royal cuisine</b> is the recipes for preparing dishes exclusively for the royal family during the Joseon Dynasty (1392-1910). The best, freshest ingredients selected from all regions across Korea are sent to prepare each meal with 12 dishes including vegetables, meat and seafood. Sinseollo is a broth dish with beef broth, meatballs, fried dough, vegetables, and gujeolpan, which is a thinly coated flour crepe rolled with beef and vegetables. These are two famous dishes in royal cuisine.</p>
            <p class="handbook-content-1 mt-2"><b>Patbingsu</b>: made from shaved ice, milk, sweet bean powder, fruit, rice cakes, syrup and many other "toppings".</p>
            <p class="handbook-content-1 mt-2"><b>Tteok or rice cake</b>, is made of steamed rice flour and then molded into many different shapes. This is one of the most popular traditional snacks in the country. During traditional holidays and special occasions, rice cakes are an indispensable dish in ceremonies.</p>

            <p class="handbook-title-1 mt-3">What to buy in Korea?</p>
            <p class="handbook-content-1 mt-2">Cosmetics: Korean skin care products are very popular because of their effectiveness. Face masks are one of the most widely used products. City center areas such as Myeong dong and Hongdae have many cosmetic stores.</p>
            <p class="handbook-content-1 mt-2">Ginseng: Korean ginseng is famous all over the world for its perfect quality, especially steamed and dried red ginseng, processed into many different products such as candy, jelly, plaster... Type of functional food This healthy product can be purchased at tax stores, Namdaemun market and famous tourist areas.</p>
            <p class="handbook-content-1 mt-2">Traditional souvenirs: mirrors with traditional lacquered handles, shell key chains, silk lucky bags, travel mugs painted with antique patterns...</p>
            <p class="handbook-content-1 mt-2">Shops in palaces and museums are ideal places to buy traditional souvenirs. Cheongwadae Sarangchae Center and the national souvenir center in Insa-dong are two examples. For tourists looking for more unique and memorable items, Namdaemun market is a perfect choice.</p>


            <p class="handbook-title-1 mt-3">Necessary information</p>
            <p class="handbook-content-1 mt-2">Wi-Fi paradise: Subway stations, cafes, shopping malls and most tourist attractions have free, high-speed wifi.</p>
            <p class="handbook-content-1 mt-2">No cash needed: All you need is a credit card. Except for a few small businesses that transact in cash, the rest everywhere accept credit cards, even for small transactions.</p>
            <p class="handbook-content-1 mt-2">Convenient public transportation: A large subway system, railways stretching across the country and fast inter-city buses help visitors travel around Korea easily.</p>
            <p class="handbook-content-1 mt-2">Easy, fast food delivery: From famous restaurant chains, eateries to coffee shops, cakes..., you can order them to deliver anywhere, even if you visit the parks along the Han River and request to be shipped to.</p>
            <p class="handbook-content-1 mt-2">Safe streets, low crime rate: You almost never see or hear about robberies, thefts or attacks. At major tourist destinations, there is always tourist police support.</p>
            <p class="handbook-content-1 mt-2">The country never sleeps: many convenience stores, restaurants, shopping streets and even ATMs are open 24/7. You can buy food, withdraw money, and top up your public transportation card even at midnight.</p>
            <p class="handbook-content-1 mt-2 mb-4">Friendly signs for international visitors: Most public areas such as subways and bus stations have signs in English. Tourist locations and facilities also have signs in many languages ​​such as English, Japanese, Chinese...</p>
        </div>
    </div>
</div>



