
@{
    ViewBag.Title = "Cancel";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-cancel">
                <p class="titlecontent">Cancellation policy</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <p class="content-cancel">Cancellation of all services by tour participants must be sent and received in writing: email or fax. The company does not accept requests to cancel services over the phone.</p>
            <p class="content-cancel">Do not arbitrarily cancel the tour. The company does not handle self-destruction cases.</p>
            <p class="content-cancel">The Company is not responsible for any service cancellation requests that have not been received and have not been reconfirmed with you. In this case, service cancellation or tour cancellation fees will apply.</p>
            <p class="content-cancel">Detailed cancellation regulations and penalties depend on each specific regulation of the tour program.</p>
        </div>
    </div>
</div>

