
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-contact">
                <p class="titlecontent">Contact</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="title-contact-sm mt-3">EDITHTOUR TRAVEL SERVICES ONE MEMBER COMPANY</p>
            <div class="row">
                <div class="col-md-2">
                    <div class="box-contact">
                        <i class="fas fa-location-arrow"></i>
                    </div>
                </div>
                <div class="col-md-10 p-0">
                    <p class="contact-address">Address</p>
                    <p>1 Ly Tu Trong Street, Can Tho, VietNam</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-2">
                    <div class="box-contact">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                </div>
                <div class="col-md-10 p-0">
                    <p class="contact-address">Phone</p>
                    <p>+1234 5678 90</p>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-md-2">
                    <div class="box-contact">
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
                <div class="col-md-10 p-0">
                    <p class="contact-address">Email</p>
                    <p>edithtour@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3 m">
            @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
            {

                @Html.AntiForgeryToken()
                <input class="form-input" type="text" placeholder="Fullname" name="fullname" />
                <input class="form-input mt-3" type="text" placeholder="Email" name="email"/>
                <input class="form-input mt-3" type="text" placeholder="Phone" name="phone"/>
                <input class="form-input mt-3" type="text" placeholder="Address" name="address"/>
                <textarea class="form-input mt-3" rows="4" placeholder="Comment" name="comment"></textarea>
                <input type="submit" class="btn btn-primary mt-3 mb-3 btn-send" value="Send" />
            }
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe class="mb-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d694.5185972883854!2d105.77983171130171!3d10.034141296881522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0881fa2f86433%3A0xee52427c850bbc0d!2zMSDEkC4gTMO9IFThu7EgVHLhu41uZywgVMOibiBBbiwgTmluaCBLaeG7gXUsIEPhuqduIFRoxqEsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1700563347802!5m2!1sen!2s" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
