
@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-intro">
                <p class="titlecontent">Introducing EdithTour Travel</p>
                <p class="under-border"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="title-intro mt-3">AFFIRMING THE LEADING BRAND IN QUALITY & BUSINESS EFFICIENCY</p>
            <p>In the Vietnamese tourism industry, EdithTour Travel Service Company is a pioneering travel enterprise with breakthrough innovations, sustainable growth, firmly affirming its leading position in product and service quality. , service style and business efficiency. That is the basis for EdithTour Travel to continuously be honored to receive a series of prestigious awards and titles recognizing and affirming its position as the National Brand and the leading Travel Brand in Vietnam and the region.</p>
            <img src="~/Content/Images/Home/introduction.png" width="100%" />
            <p class="title-intro mt-3">National Brand</p>
            <p>With the strength of providing diverse services of high quality associated with the values ​​"Quality - Innovation - Creativity - Leadership" and competitiveness in the domestic and international markets during the integration process. EdithTour Travel Service Company is honored to be the only travel business to be voted as a National Brand by the Vietnamese Government continuously from 2008 to present.</p>
            <p class="title-intro">Leading Travel Brand in Vietnam</p>
            <p>EdithTour Travel Services Company is always voted the Top position of Vietnam's Leading International Travel and Top Vietnam's Leading Domestic Travel. These are the two highest and official titles of Vietnam's tourism industry approved and announced by the Vietnam National Administration of Tourism and the Tourism Association.</p>
            <p>The titles are reviewed and ranked based on the criteria of number of guests served, revenue, with special emphasis on the criteria of business profit efficiency, budget payment, average income of workers, and quality. Services providing, training and developing human resources for tourism - travel, responsibility towards society - community...</p>
            <p class="title-intro">Leading brand in Quality Travel Services</p>
            <p>EdithTour Travel Service Company is honored to be recognized and voted by customers: The Guide Awards "Best Travel Company" (since 2001) by Vietnam Economic Times; Title of "Best Product and Service" (since 2006) by Saigon Tiep Thi newspaper; "Vietnam's most favorite brand" (since 2006) by Saigon Giai Phong newspaper... Recognized by the City Department of Culture, Sports and Tourism. Ho Chi Minh voted and recognized as the top 10 leading International Travel, Domestic Travel and Foreign Travel Enterprises in Ho Chi Minh City (since 2010); "Typical Saigon Enterprise" award (since 2008).</p>
            <p class="title-intro">Leading Travel Brand in the region</p>
            <p>As the most effective travel business in the region, EdithTour Travel Services Company is honored to be voted for the prestigious TAA award - Most Outstanding International Tour Operator (since 2009) with the goal of The goal honors the most effective units in the tourism industry of 4 countries: Vietnam, Cambodia, Laos and Myanmar.</p>
            <p class="title-intro">Top 100 Leading Enterprises in Vietnam</p>
            <p>With the ability to deeply integrate into the international economy, EdithTour Travel Services Company is honored to be awarded the "Vietnam Gold Star Award - Top 100 Leading Enterprises in Vietnam" continuously since 2007.</p>
            <p>“We are committed to always striving to bring the best service values ​​to customers and partners to continue affirming the leading position of the EdithTour Travel brand.”</p>
        </div>
    </div>
</div>


