* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

/*Css Reuse*/
.underlist {
    list-style: none;
}

.container-fluid,
.carousel-control-next,
.carousel-control-next-icon {
    padding: 0;
    overflow: hidden;
}
/* */
.header-logo {
    margin: -2em -1em 0 12em;
    width: 150px;
    height: 150px;
}

.sub-menu {
    font-size: 15px;
    font-weight: 600;
    color: #ff6a00;
    word-spacing: 1px;
    letter-spacing: 1px;
}

#header {
    height: 118px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 1;
    /*    margin-left: 52em;*/
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
    position: absolute;
    z-index: 100;
}

    #nav > li {
        display: inline-block;
    }

    #nav li {
        position: relative;
    }

    #nav > li > a {
        color: #000;
        text-transform: uppercase;
    }

    #nav li:hover .subnav {
        display: block;
    }

    #nav .subnav li:hover a {
        color: #fff;
        background-color: #5ab503;
    }

.margin-menu {
    margin: 1em 0 0 0;
}

#nav li a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 32px;
    font-family: "Helvetica","Arial",sans-serif;
    display: block;
}

#nav li:hover a {
    color: #ff6a00;
}

.fa-stripe-s,
.fa-globe-europe,
.fa-paper-plane,
.fa-mobile,
.fa-sign-in,
.fa-fire,
.fa-clipboard {
    display: block;
    text-align: center;
    font-size: 30px;
    opacity: 0.7;
}

.login {
    margin: .3em .2em 0 0;
    float: right;
}

#content {
    position: relative;
    height: calc(100% - 118px);
    top: 118px;
}

.item-travel {
    width: 350px;
    height: 450px;
    border: 1px solid #000;
    overflow: hidden;
}

.autumn-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2.5px;
    font-family: Arial;
    margin: 2em 0;
}

.childtitle-tour {
    opacity: .5;
    display: inline-block;
    margin: 12px 0 16px 16px;
}

.img-tour {
    width: 350px;
    height: 250px;
    position: relative;
}

.img-tour:hover, .item-travel:hover .img-tour{
    transform: scale(1.1);
    transition: 1s;
    overflow: hidden;
    cursor: pointer;
}

.have-tour {
    opacity: .5;
    float: right;
    padding: 8px 16px 16px 0;
}

.title-nametour {
    padding: 24px 0 0 16px;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    word-spacing: 1px;
    letter-spacing: .5px;
    padding-right: 1em;
}

.link-detailtour,
.link-detailtour:hover {
    text-decoration: none;
}

.timeline-tour {
    display: block;
    width: 40%;
    height: 40px;
    float: right;
    margin: -65% -19.5% 0 0;
    background-color: #ff891e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-buy {
    background-color: #ff891e;
    outline: none;
    border: none;
    width: 30%;
    padding: 5px 10px;
    float: right;
    margin-top: .7em;
    margin-right: .3em;
}

.time-line {
    margin: .5em 0 0 .5em;
    color: #fff;
}

.carousel-img {
    width: 100%;
}

#footer {
    background-color: #000;
    bottom: 0;
    width: 100%;
    line-height: 60px;
}

.parallax,
.parallax-cancel,
.parallax-rules,
.parallax-intro,
.parallax-login,
.parallax-contact,
.parallax-handbook,
.parallax-handbook-korea,
.parallax-handbook-japan,
.parallax-handbook-china,
.parallax-handbook-thailand,
.parallax-handbook-singapore,
.parallax-handbook-indonesia,
.parallax-handbook-malaysia,
.parallax-handbook-france,
.parallax-handbook-italy,
.parallax-handbook-australia,
.parallax-handbook-hanoi,
.parallax-handbook-quangbinh,
.parallax-handbook-danang,
.parallax-handbook-nhatrang,
.parallax-handbook-saigon,
.parallax-handbook-cantho,
.parallax-handbook-hottour{
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.parallax {
    background-image: url('../Images/Home/korea.jpg');
    margin-top: 1em;
}

.parallax-cancel {
    background-image: url('../Images/Home/imgcancel.jpg');
}

.parallax-rules {
    background-image: url('../Images/Home/rules.jpg');
}

.parallax-intro {
    background-image: url('../Images/Home/introduction.jpg');
}

.parallax-login {
    background-image: url('../Images/Home/korea.jpg');
    height: 570px;
    margin-top: 1em;
}

.parallax-contact {
    background-image: url('../Images/Home/contact.jpg');
}

.parallax-handbook {
    background-image: url('../Images/Home/terraces.jpg');
}

.parallax-handbook-korea {
    background-image: url('../../Content/Images/Home/Handbook/Korea/handbookkorea.jpg');
}

.parallax-handbook-japan {
    background-image: url('../../Content/Images/Home/Handbook/Japan/handbookjapan.jpg');
}

.parallax-handbook-china {
    background-image: url('../../Content/Images/Home/Handbook/China/handbookchina.jpg');
}

.parallax-handbook-thailand {
    background-image: url('../../Content/Images/Home/Handbook/Thailand/handbookthailand.jpg');
}

.parallax-handbook-singapore {
    background-image: url('../../Content/Images/Home/Handbook/Singapore/handbooksingapore.jpg');
}

.parallax-handbook-indonesia {
    background-image: url('../../Content/Images/Home/Handbook/Indonesia/handbookindonesia.jpg');
}

.parallax-handbook-malaysia {
    background-image: url('../../Content/Images/Home/Handbook/Malaysia/handbookmalaysia.jpg');
}

.parallax-handbook-france {
    background-image: url('../../Content/Images/Home/Handbook/France/handbookfrance.jpg');
}

.parallax-handbook-italy {
    background-image: url('../../Content/Images/Home/Handbook/Italy/handbookitaly.jpg');
}

.parallax-handbook-australia {
    background-image: url('../../Content/Images/Home/Handbook/Australia/handbookaustralia.jpg');
}

.parallax-handbook-hanoi {
    background-image: url('../../Content/Images/Home/Handbook/Hanoi/handbookhanoi.jpg');
}

.parallax-handbook-quangbinh {
    background-image: url('../../Content/Images/Home/Handbook/Quangbinh/handbookquangbinh.jpg');
}

.parallax-handbook-danang {
    background-image: url('../../Content/Images/Home/Handbook/Danang/handbookdanang.jpg');
}

.parallax-handbook-nhatrang {
    background-image: url('../../Content/Images/Home/Handbook/Nhatrang/handbooknhatrang.jpg');
}

.parallax-handbook-saigon {
    background-image: url('../../Content/Images/Home/Handbook/Saigon/handbooksaigon.jpg');
}

.parallax-handbook-cantho {
    background-image: url('../../Content/Images/Home/Handbook/Cantho/handbookcantho.jpg');
}

.parallax-handbook-hottour {
    background-image: url('../../Content/Images/Tour/Hottour/hottour.jpg');
}

.hot-tour {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Bungee Shade', sans-serif;
    color: #D80032;
    text-align: center;
}

.content-boxlax {
    width: 500px;
    height: 100%;
    background-color: transparent;
    float: right;
    margin-right: 5em;
}

.headercontent-content {
    margin-top: 1em;
    padding: 1em 2em 0 2em;
    color: #fff;
    word-spacing: 1px;
    font-size: 32px;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: #ff891e; /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.bg-text:hover .font-under{
    text-decoration: none;
    color: #ccc;
    transition: .5s;
}


.navcontent-content {
    padding: 1em 4.1em 0 4.1em;
    color: #fff;
    word-spacing: 1px;
}

.content-header {
    background-color: #FFB000;
}

.btn-seemore {
    margin: 1em 0 2em 4em;
}

.thumnailtet-content {
    width: 100%;
    box-shadow: 2px 3px #ccc;
    transition: .5s;
}

.thumnailtet-href:hover img,
.thumnaildiscount-href:hover img {
    transform: scale(1.05);
    transition: .5s;
}

.box-trending {
    width: 100%;
    height: 420px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
    cursor: pointer;
}

.box-img-trending {
    width: 100%;
    height: 250px;
    transition: 1s;
}


.overlay {
    position: absolute;
    bottom: 40%;
    left: 4%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 92%;
    height: 0;
    transition: .5s ease;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.box-trending:hover .overlay {
    height: 10%;
}

.box-have-trending {
    color: #999;
    margin-left: .5em;
}

.box-newpost-trending {
    margin-left: .5em;
    text-decoration: underline;
    color: #777;
}

.box-newpost-trending:hover {
    color: #999;
}

.box-content-trending {
    margin: 1em 0 0 .5em;
    word-spacing: 1px;
    font-weight: 600;
}

.box-contenthref-trending {
    color: #000;
}

    .box-contenthref-trending:hover {
        text-decoration: none;
        color: #000;
        opacity: 0.7;
    }

.form-contact {
    width: 100%;
    height: 200px;
    background-color: #ccc;
}

.title-contact {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.box-standard {
    width: 100%;
    height: 120px;
    border: 1px solid #000;
    border-radius: 10px;
}

.icon-standard {
    color: #ff891e;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    margin-left: 50%;
}

.title-standard {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-shadow: 1px 2px 3px #ccc;
}

.content-standard {
    font-size: 14px;
    margin-top: -1em;
}

.title-location {
    text-align: center;
    font-size: 40px;
    font-family: 'Bungee Shade';
    color: #008CBA;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    border-radius: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    transition: .5s;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.img-location {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.name-location {
    margin-top: 35%;
}

.footer-title,
.footer-title-about,
.footer-title-media {
    text-transform: uppercase;
    font-size: 16px;
}

.footer-title-sm-phone,
.footer-title-sm-email,
.footer-title-sm-add,
.footer-title-about-sm-ab {
    margin-top: -2.5em;
}

.footer-copy {
    text-align: center;
}

.mbot {
    margin-bottom: 7.2em;
}

.footer-numberphone:hover,
.footer-email:hover,
.footer-ab:hover {
    text-decoration: none;
}

/*Policy and Rules and Intro and Contact*/

.titlecontent{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 28%;
    font-weight: bold;
}

.under-border {
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 12px auto 0;
}

.title-intro{
    font-weight: bold;
}

.title-contact-sm{
    padding-right: 8em;
    font-weight: 600;
    font-size: 24px;
}

.box-contact{
    color: #fff;
    background-color: #ff891e;
    width: fit-content;
    padding: .5em 1em;
}

.fa-location-arrow,
.fa-phone-alt,
.fa-envelope {
    padding-top: .2em;
    width: 32px;
    height: 42px;
    font-size: 32px;
}

.contact-address{
    font-weight: bold;
}

.form-input {
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #E0E0E0;
    border: #E0E0E0;
}

.btn-send{
    padding: 5px 15px;
    background-color: #ff891e;
    outline: none;
    border: none;
}
/*Login*/
.form {
    display: inline-block;
    margin-top: 130px;
    flex-direction: column;
    height: 330px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-left: 10%;
}

.title {
    font-size: 28px;
    color: #ff6a00;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before, .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: red;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: #ff6a00;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: royalblue;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 300px;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus + span, .form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid + span {
    color: green;
}

.submit {
    width: 100px;
    border: none;
    outline: none;
    background-color: deepskyblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

.submit:hover {
    background-color: #ff6a00;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

/*Handbook*/
.title-destination{
    font-weight: bold;
    width: fit-content;
    letter-spacing: 2px;
}

.title-destination::after{
    content: "";
    position: absolute;
    background-color: #00A5D3;
    height: 2.5px;
    width: 11%;
    left: 1.3%;
    bottom: 10px;
    transition: .5s;
    border-radius: 10px;
}

.locatored {
    width: fit-content;
    color: #00A5D3;
    border: 1px solid #00A5D3;
    padding: .5em 1.5em;
    border-radius: 5px;
}

.active, .locatored:hover {
    text-decoration: none;
    background-color: #00A5D3;
    color: #fff;
}

.handbook-content-1{
    
    font-size: 20px;
}

.handbook-title-1{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.note-img{
    text-align: center;
}

/*Tour*/
.title-tour {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Bungee Shade', sans-serif;
    color: #00A5D3;
}

.box-hottour{
    width: 100%;
    height: 300px;
    border: 1px solid #000;
}